{% extends "page.html" %}
{% block subtitle %}{{ _('Tools') }}{% endblock %}
{% block breadcrumb_content %}
  <li class="active"><a href="#">{{ _('Tools') }}</a></li>
{% endblock %}


{% block secondary_content %}

{% endblock %}

{% block primary %}
<div class="span3 col1" id="upper_menu">
{%snippet 'home/snippets/right_menu.html' %}
</div>
<div class="wrapper">
<div class="primary span9 no-right-menu">
<div class="span11">
<h1> {{_('Tools')}}</h1>
{%set urls = h.get_urls('ckan.tools.') %}
<ul>
{% for i in urls %}
<li> <a href="{{i['url']}}" title="{{i['popis']}}">{{i['name']}}</a> <br />
<p>
{% if c.lang == 'sk' %}
{{i["sk_text"]}}
{%else%}
{{i["en_text"]}}
{%endif%}
</p>
</li>
{%endfor%}
</ul>
</div>
</div>
</div>
{% endblock %}
