{% extends "page.html" %}
{% block subtitle %}{{ _('Legal') }}{% endblock %}
{% block breadcrumb_content %}
  <li class="active"><a href="#">{{ _('Legal') }}</a></li>
{% endblock %}


{% block secondary_content %}

{% endblock %}

{% block primary %}
<div class="span3 col1" id="upper_menu">
{%snippet 'home/snippets/right_menu.html' %}
</div>
<div class="wrapper">
<div class="primary span9 no-right-menu">
<div class="span11">
<h1> {{_('Legal')}}</h1>
<ul>

<div class=WordSection1>

<p class=MsoNormal><b><span style='font-size:10.5pt;line-height:107%;
font-family:"Segoe UI",sans-serif;color:#494949'>Podľa zákona č. 211/2000 Z.z.
o slobodnom prístupe k informáciám</span></b><span style='font-size:10.5pt;
line-height:107%;font-family:"Segoe UI",sans-serif;color:#494949'> a o zmene a
doplnení niektorých zákonov (zákon o slobode informácií) v&nbsp;znení
neskorších predpisov sa ustanovuje:</span></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal;background:white'><b><span style='font-size:10.5pt;
font-family:"Segoe UI",sans-serif;color:black'>§ 2 </span></b><b><span
style='font-family:"Segoe UI",sans-serif;color:black'>Povinné osoby</span></b></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:35.45pt;margin-bottom:.0001pt;text-align:justify;text-indent:-1.0cm;
line-height:normal;background:white'><span style='font-size:10.5pt;font-family:
"Segoe UI",sans-serif;color:black'>(1)      </span><span style='font-size:10.5pt;
font-family:"Segoe UI",sans-serif;color:#494949'>Osobami povinnými podľa tohto
zákona sprístupňovať informácie (ďalej len „povinné osoby“) sú štátne orgány,
obce, vyššie územné celky ako aj tie právnické osoby a fyzické osoby, ktorým
zákon zveruje právomoc rozhodovať o právach a povinnostiach fyzických osôb
alebo právnických osôb v oblasti verejnej správy, a to iba v rozsahu tejto ich
rozhodovacej činnosti.</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:35.45pt;margin-bottom:.0001pt;text-align:justify;text-indent:-1.0cm;
line-height:normal;background:white'><span style='font-size:10.5pt;font-family:
"Segoe UI",sans-serif;color:#494949'>(2)      Povinnými osobami sú ďalej
právnické osoby zriadené zákonom a právnické osoby zriadené štátnym orgánom,
vyšším územným celkom alebo obcou podľa osobitného zákona.</span> <a
href="#_ftn1" name="_ftnref1" title=""><span class=MsoFootnoteReference><span
class=MsoFootnoteReference><span style='font-size:11.0pt;line-height:107%;
font-family:"Calibri",sans-serif'>[1]</span></span></span></a></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:35.45pt;margin-bottom:.0001pt;text-align:justify;text-indent:-1.0cm;
line-height:normal;background:white'><span style='font-size:10.5pt;font-family:
"Segoe UI",sans-serif;color:#494949'>(3)      Povinnými osobami sú ďalej aj
právnické osoby založené povinnými osobami podľa odseku 1 a 2.</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:35.45pt;margin-bottom:.0001pt;text-align:justify;text-indent:-1.0cm;
line-height:normal;background:white'><span style='font-size:10.5pt;font-family:
"Segoe UI",sans-serif;color:#494949'>(4)      Osobitný zákon môže ustanoviť
povinnosť sprístupňovať informácie aj inej právnickej osobe alebo fyzickej
osobe.</span> <a href="#_ftn2" name="_ftnref2" title=""><span
class=MsoFootnoteReference><span class=MsoFootnoteReference><span
style='font-size:11.0pt;line-height:107%;font-family:"Calibri",sans-serif'>[2]</span></span></span></a></p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal style='margin-top:0cm;margin-right:3.75pt;margin-bottom:
0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;line-height:normal;
background:white'><b><span style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;
color:black'>§ 7 </span></b><b><span style='font-family:"Segoe UI",sans-serif;
color:black'>Odkaz na zverejnenú informáciu</span></b></p>

<p class=MsoListParagraph style='margin-top:3.75pt;margin-right:0cm;margin-bottom:
0cm;margin-left:35.45pt;margin-bottom:.0001pt;text-align:justify;text-indent:
-1.0cm;line-height:normal;background:white'><span style='font-size:10.5pt;
font-family:"Segoe UI",sans-serif;color:#494949'>(1)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;
color:#494949'>Ak predmetom žiadosti je získanie informácií, ktoré už boli
zverejnené, povinná osoba môže bez zbytočného odkladu, najneskôr však do
piatich dní od podania žiadosti, namiesto sprístupnenia informácií žiadateľovi
oznámiť údaje, ktoré umožňujú vyhľadanie a získanie zverejnenej informácie.</span></p>

<p class=MsoNormal style='margin-top:3.75pt;margin-right:0cm;margin-bottom:
0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;line-height:normal;
background:white'><span style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;
color:black'>&nbsp;</span></p>

<p class=MsoListParagraph style='margin-top:3.75pt;margin-right:0cm;margin-bottom:
0cm;margin-left:35.45pt;margin-bottom:.0001pt;text-align:justify;text-indent:
-1.0cm;line-height:normal;background:white'><span style='font-size:10.5pt;
font-family:"Segoe UI",sans-serif;color:#494949'>(2)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;
color:#494949'>Ak žiadateľ trvá na sprístupnení zverejnených informácií,
povinná osoba mu ich sprístupní. V takom prípade začína lehota na sprístupnenie
plynúť dňom, keď žiadateľ oznámil, že trvá na priamom sprístupnení informácie.</span></p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal;background:white'><b><span style='font-family:"Segoe UI",sans-serif;
color:#494949'>Osobitné ustanovenia o opakovanom použití informácií</span></b></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal;background:white'><b><span style='font-size:10.5pt;
font-family:"Segoe UI",sans-serif;color:black'>&nbsp;</span></b></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal;background:white'><b><span style='font-size:10.5pt;
font-family:"Segoe UI",sans-serif;color:black'>§ 21b</span></b></p>

<p class=MsoListParagraph style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:35.45pt;margin-bottom:.0001pt;text-align:justify;text-indent:
-1.0cm;line-height:normal;background:white'><span style='font-size:10.5pt;
font-family:"Segoe UI",sans-serif;color:black'>(1)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;
color:#494949'>Opakovaným použitím informácií je použitie informácie, ktorú má
povinná osoba podľa odseku 3 k dispozícii, na podnikateľský účel alebo na
nepodnikateľský účel odlišný od pôvodného účelu, na ktorý bola informácia
vytvorená v rámci plnenia úloh tejto povinnej osoby. Opakovaným použitím
informácií nie je výmena informácií medzi povinnými osobami podľa odseku 3 pri
plnení ich úloh; tým nie je dotknuté ustanovenie&nbsp;</span><a
href="https://www.slov-lex.sk/pravne-predpisy/SK/ZZ/2000/211/#paragraf-21f.odsek-6"
title="Odkaz na predpis alebo ustanovenie"><i><span style='font-size:10.5pt;
font-family:"Segoe UI",sans-serif;text-decoration:none'>§ 21f ods. 6</span></i></a><span
style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;color:#494949'>.</span></p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal;background:white'><b><span style='font-size:10.5pt;
font-family:"Segoe UI",sans-serif;color:black'>§ 21d</span></b></p>

<p class=MsoListParagraph style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:35.45pt;margin-bottom:.0001pt;text-align:justify;text-indent:
-1.0cm;line-height:normal;background:white'><span style='font-size:10.5pt;
font-family:"Segoe UI",sans-serif;color:black'>(1)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;
color:#494949'>Povinná osoba je povinná sprístupniť informácie na účely
opakovaného použitia na základe žiadosti. Informácie na účel opakovaného
použitia môže povinná osoba zverejniť aj bez žiadosti.</span></p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoListParagraph style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:35.45pt;margin-bottom:.0001pt;text-align:justify;text-indent:
-1.0cm;line-height:normal;background:white'><span style='font-size:10.5pt;
font-family:"Segoe UI",sans-serif;color:black'>(3)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;
color:#494949'>Ak povinná osoba sprístupní informácie na účel ich opakovaného
použitia, bez zbytočného odkladu nahlási<a href="#_ftn3" name="_ftnref3"
title=""><span class=MsoFootnoteReference><span class=MsoFootnoteReference><span
style='font-size:10.5pt;line-height:107%;font-family:"Segoe UI",sans-serif;
color:#494949'>[3]</span></span></span></a> prevádzkovateľovi ústredného
portálu verejnej správy<a href="#_ftn4" name="_ftnref4" title=""><span
class=MsoFootnoteReference><span class=MsoFootnoteReference><span
style='font-size:10.5pt;line-height:107%;font-family:"Segoe UI",sans-serif;
color:#494949'>[4]</span></span></span></a></span><a
href="https://www.slov-lex.sk/pravne-predpisy/SK/ZZ/2000/211/#poznamky.poznamka-27m"
title="Odkaz na predpis alebo ustanovenie"></a><span style='font-size:10.5pt;
font-family:"Segoe UI",sans-serif;color:#494949'>&nbsp;údaje o webových sídlach
a iných miestach, kde sa zverejňujú skutočnosti týkajúce sa opakovaného
použitia informácií najmä podľa&nbsp;</span><a
href="https://www.slov-lex.sk/pravne-predpisy/SK/ZZ/2000/211/#paragraf-21e.odsek-5"
title="Odkaz na predpis alebo ustanovenie"><i><span style='font-size:10.5pt;
font-family:"Segoe UI",sans-serif;text-decoration:none'>§ 21e ods. 5</span></i></a><span
style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;color:#494949'>,&nbsp;</span><a
href="https://www.slov-lex.sk/pravne-predpisy/SK/ZZ/2000/211/#paragraf-21f.odsek-7"
title="Odkaz na predpis alebo ustanovenie"><i><span style='font-size:10.5pt;
font-family:"Segoe UI",sans-serif;text-decoration:none'>§ 21f ods. 7 a 8</span></i></a><span
style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;color:#494949'>&nbsp;a&nbsp;</span><a
href="https://www.slov-lex.sk/pravne-predpisy/SK/ZZ/2000/211/#paragraf-21k.odsek-5"
title="Odkaz na predpis alebo ustanovenie"><i><span style='font-size:10.5pt;
font-family:"Segoe UI",sans-serif;text-decoration:none'>§ 21k ods. 5</span></i></a><span
style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;color:#494949'>.
Prevádzkovateľ ústredného portálu verejnej správy tieto údaje bez zbytočného
odkladu zverejní na ústrednom portáli verejnej správy.</span></p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal;background:white'><b><span style='font-size:10.5pt;
font-family:"Segoe UI",sans-serif;color:black'>§ 21f</span></b></p>

<p class=MsoListParagraph style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:35.45pt;margin-bottom:.0001pt;text-align:justify;text-indent:
-1.0cm;line-height:normal;background:white'><span style='font-size:10.5pt;
font-family:"Segoe UI",sans-serif;color:black'>(1)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;
color:#494949'>Povinná osoba môže umožniť opakované použitie informácií bez
určenia podmienok alebo s určením podmienok. Ak povinná osoba zverejní
informácie na účel opakovaného použitia bez žiadosti podľa&nbsp;</span><a
href="https://www.slov-lex.sk/pravne-predpisy/SK/ZZ/2000/211/#paragraf-21d.odsek-1"
title="Odkaz na predpis alebo ustanovenie"><i><span style='font-size:10.5pt;
font-family:"Segoe UI",sans-serif;text-decoration:none'>§ 21d ods. 1</span></i></a><span
style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;color:#494949'>&nbsp;druhej
vety a neurčí podmienky ich opakovaného použitia, je vo vzťahu k sprístupneným
informáciám, ktoré sú chránené podľa osobitného predpisu,</span><a
href="https://www.slov-lex.sk/pravne-predpisy/SK/ZZ/2000/211/#poznamky.poznamka-27la"
title="Odkaz na predpis alebo ustanovenie"><i><sup><span style='font-size:8.0pt;
font-family:"Segoe UI",sans-serif;text-decoration:none'>27la</span></sup></i><i><span
style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;text-decoration:none'>)</span></i></a><span
style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;color:#494949'>&nbsp;udelená
verejná licencia,</span><a
href="https://www.slov-lex.sk/pravne-predpisy/SK/ZZ/2000/211/#poznamky.poznamka-27ma"
title="Odkaz na predpis alebo ustanovenie"><i><sup><span style='font-size:8.0pt;
font-family:"Segoe UI",sans-serif;text-decoration:none'>27ma</span></sup></i><i><span
style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;text-decoration:none'>)</span></i></a><span
style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;color:#494949'>&nbsp;na
všetky spôsoby použitia známe v čase jej udelenia v neobmedzenom rozsahu a na
celý čas trvania majetkových práv.</span></p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal><b><span style='font-size:10.5pt;line-height:107%;
font-family:"Segoe UI",sans-serif;color:#494949'>Podľa výnosu č.55/2014 Z.z.. o
štandardoch pre informačné systémy verejnej správy</span></b><span
style='font-size:10.5pt;line-height:107%;font-family:"Segoe UI",sans-serif;
color:#494949'> v znení neskorších predpisov (ďalej len „zákon“) ustanovuje:</span></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal;background:white'><b><span style='font-family:"Segoe UI",sans-serif;
color:#494949'>Štandardy poskytovania údajov v elektronickom prostredí</span></b></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal;background:white'><b><span style='font-size:10.5pt;
font-family:"Segoe UI",sans-serif;color:black'>§ 51 </span></b><b><span
style='font-family:"Segoe UI",sans-serif;color:black'>Kvalita datasetu
poskytovaného povinnou osobou</span></b></p>

<p class=MsoListParagraph style='margin-top:0cm;margin-right:0cm;margin-bottom:
0cm;margin-left:35.45pt;margin-bottom:.0001pt;text-align:justify;text-indent:
-1.0cm;line-height:normal;background:white'><span style='font-size:10.5pt;
font-family:"Segoe UI",sans-serif;color:black'>(1)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;
color:#494949'>Štandardom kvality datasetu poskytovaného povinnou osobou je
rozdelenie kvality datasetu na šesť úrovní, ktorými sú</span></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;text-indent:21.3pt;line-height:normal;background:white'><span
style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;color:black'>a)              </span><span
style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;color:#494949'>úroveň
0, pri ktorej nie je dataset poskytovaný v elektronickej forme,</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:1.0cm;margin-bottom:.0001pt;text-align:justify;text-indent:-7.05pt;
line-height:normal;background:white'><span style='font-size:10.5pt;font-family:
"Segoe UI",sans-serif;color:black'>b)              </span><span
style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;color:#494949'>úroveň
1, pri ktorej je dataset dostupný vo webovom prostredí,</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:70.9pt;margin-bottom:.0001pt;text-align:justify;text-indent:-49.6pt;
line-height:normal;background:white'><span style='font-size:10.5pt;font-family:
"Segoe UI",sans-serif;color:black'>c)              </span><span
style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;color:#494949'>úroveň
2, pri ktorej je splnená požiadavka uvedená v písmene b) a obsah datasetu je
štruktúrovaný tak, že umožňuje automatizované spracovanie,</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:70.9pt;margin-bottom:.0001pt;text-align:justify;text-indent:-49.6pt;
line-height:normal;background:white'><span style='font-size:10.5pt;font-family:
"Segoe UI",sans-serif;color:black'>d)              </span><span
style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;color:#494949'>úroveň
3, pri ktorej sú splnené požiadavky uvedené v písmene c) a dataset je
poskytovaný v otvorenom formáte, nezávislom na konkrétnom proprietárnom
softvéri,</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:70.9pt;margin-bottom:.0001pt;text-align:justify;text-indent:-49.6pt;
line-height:normal;background:white'><span style='font-size:10.5pt;font-family:
"Segoe UI",sans-serif;color:black'>e)              </span><span
style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;color:#494949'>úroveň
4, pri ktorej sú splnené požiadavky uvedené v písmene d) a na identifikáciu
údajov datasetu a ich vzťahov sa používajú refencovateľné identifikátory,</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:70.9pt;margin-bottom:.0001pt;text-align:justify;text-indent:-49.6pt;
line-height:normal;background:white'><span style='font-size:10.5pt;font-family:
"Segoe UI",sans-serif;color:black'>f)               </span><span
style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;color:#494949'>úroveň
5, pri ktorej sú splnené požiadavky uvedené v písmene e) a dataset a jeho
interné a externé vzťahy majú charakter identifikátormi prepojených údajov.</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:35.45pt;margin-bottom:.0001pt;text-align:justify;text-indent:-1.0cm;
line-height:normal;background:white'><span style='font-size:10.5pt;font-family:
"Segoe UI",sans-serif;color:black'>(2)      </span><span style='font-size:10.5pt;
font-family:"Segoe UI",sans-serif;color:#494949'>Ak sa údaje poskytujú pre
automatizované spracovanie, štandardom kvality datasetu poskytovaného povinnou
osobou je aj ich poskytovanie ako datasetu s otvorenými údajmi podľa § 53 a v
kvalite najmenej úrovne 3.</span></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal;background:white'><b><span style='font-size:10.5pt;
font-family:"Segoe UI",sans-serif;color:black'>§ 52 </span></b><b><span
style='font-family:"Segoe UI",sans-serif;color:black'>Otvorené údaje</span></b></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:35.45pt;margin-bottom:.0001pt;text-align:justify;text-indent:-1.0cm;
line-height:normal;background:white'><span style='font-size:10.5pt;font-family:
"Segoe UI",sans-serif;color:black'>(1)      </span><span style='font-size:10.5pt;
font-family:"Segoe UI",sans-serif;color:#494949'>Štandardom pre označenie údaja
ako otvoreného údaja je</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:70.9pt;margin-bottom:.0001pt;text-align:justify;text-indent:-49.6pt;
line-height:normal;background:white'><span style='font-size:10.5pt;font-family:
"Segoe UI",sans-serif;color:black'>a)              </span><span
style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;color:#494949'>poskytovanie
údaja v datasete v kvalite poskytovaného datasetu najmenej úrovne 3,</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:7.1pt;margin-bottom:.0001pt;text-align:justify;text-indent:14.2pt;
line-height:normal;background:white'><span style='font-size:10.5pt;font-family:
"Segoe UI",sans-serif;color:#494949'>b)              poskytovanie údaja
otvoreným spôsobom použitia, ktorý je splnený, ak</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:78.0pt;margin-bottom:.0001pt;text-align:justify;text-indent:-1.0cm;
line-height:normal;background:white'><span style='font-size:10.5pt;font-family:
"Segoe UI",sans-serif;color:#494949'>1.       sú právne aspekty prístupu k
údaju a jeho používaniu explicitne vysporiadané,</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:78.0pt;margin-bottom:.0001pt;text-align:justify;text-indent:-1.0cm;
line-height:normal;background:white'><span style='font-size:10.5pt;font-family:
"Segoe UI",sans-serif;color:#494949'>2.       je umožnené vytvorenie právnych
vzťahov pre používanie údaja aj prostredníctvom anonymného vzdialeného
automatizovaného prístupu,</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:78.0pt;margin-bottom:.0001pt;text-align:justify;text-indent:-1.0cm;
line-height:normal;background:white'><span style='font-size:10.5pt;font-family:
"Segoe UI",sans-serif;color:#494949'>3.       je prístup k údaju umožnený
všetkým osobám za rovnakých podmienok, pričom tieto podmienky sú explicitne
uvedené,</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:78.0pt;margin-bottom:.0001pt;text-align:justify;text-indent:-1.0cm;
line-height:normal;background:white'><span style='font-size:10.5pt;font-family:
"Segoe UI",sans-serif;color:#494949'>4.       je údaj možné použiť na
nekomerčný aj komerčný účel, a je možné ho kombinovať s inými údajmi, dopĺňať,
opravovať, modifikovať alebo použiť z datasetu bez povinnosti použitia
ostatných údajov datasetu,</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:78.0pt;margin-bottom:.0001pt;text-align:justify;text-indent:-1.0cm;
line-height:normal;background:white'><span style='font-size:10.5pt;font-family:
"Segoe UI",sans-serif;color:#494949'>5.       sú činnosti podľa štvrtého bodu
bezodplatné.</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:35.45pt;margin-bottom:.0001pt;text-align:justify;text-indent:-1.0cm;
line-height:normal;background:white'><span style='font-size:10.5pt;font-family:
"Segoe UI",sans-serif;color:black'>(2)      </span><span style='font-size:10.5pt;
font-family:"Segoe UI",sans-serif;color:#494949'>Ak dataset obsahuje najmenej
jeden otvorený údaj, označuje sa ako dataset s otvorenými údajmi.</span></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal;background:white'><b><span style='font-size:10.5pt;
font-family:"Segoe UI",sans-serif;color:black'>§ 53 </span></b><b><span
style='font-family:"Segoe UI",sans-serif;color:black'>Poskytovanie otvorených
údajov</span></b></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:35.45pt;margin-bottom:.0001pt;text-align:justify;line-height:normal;
background:white'><span style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;
color:#494949'>Štandardom pre poskytovanie otvorených údajov je</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:2.0cm;margin-bottom:.0001pt;text-align:justify;text-indent:-35.4pt;
line-height:normal;background:white'><span style='font-size:10.5pt;font-family:
"Segoe UI",sans-serif;color:black'>a)         </span><span style='font-size:
10.5pt;font-family:"Segoe UI",sans-serif;color:#494949'>označenie každého
poskytovaného datasetu s otvorenými údajmi dosiahnutou úrovňou kvality
podľa&nbsp;</span><a
href="https://www.slov-lex.sk/pravne-predpisy/SK/ZZ/2014/55/20151015.html#paragraf-51"
title="Odkaz na predpis alebo ustanovenie"><i><span style='font-size:10.5pt;
font-family:"Segoe UI",sans-serif;text-decoration:none'>§ 51</span></i></a><span
style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;color:#494949'>,</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:2.0cm;margin-bottom:.0001pt;text-align:justify;text-indent:-35.4pt;
line-height:normal;background:white'><span style='font-size:10.5pt;font-family:
"Segoe UI",sans-serif;color:black'>b)         </span><span style='font-size:
10.5pt;font-family:"Segoe UI",sans-serif;color:#494949'>pri poskytovaní
datasetu s otvorenými údajmi použitie jedného z formátov podľa&nbsp;</span><a
href="https://www.slov-lex.sk/pravne-predpisy/SK/ZZ/2014/55/20151015.html#paragraf-13.odsek-1.pismeno-b"
title="Odkaz na predpis alebo ustanovenie"><i><span style='font-size:10.5pt;
font-family:"Segoe UI",sans-serif;text-decoration:none'>§ 13 písm. b)</span></i></a><span
style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;color:#494949'>,
pričom pri použití formátov Comma Separated Values (CSV) a JavaScript Object
Notation (JSON) je najvyššia dosiahnuteľná úroveň kvality poskytovaného
datasetu 3 a pri použití ostatných formátov podľa&nbsp;</span><a
href="https://www.slov-lex.sk/pravne-predpisy/SK/ZZ/2014/55/20151015.html#paragraf-13.odsek-1.pismeno-b"
title="Odkaz na predpis alebo ustanovenie"><i><span style='font-size:10.5pt;
font-family:"Segoe UI",sans-serif;text-decoration:none'>§ 13 písm. b)</span></i></a><span
style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;color:#494949'>&nbsp;je
najvyššia dosiahnuteľná úroveň 5,</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:2.0cm;margin-bottom:.0001pt;text-align:justify;text-indent:-35.4pt;
line-height:normal;background:white'><span style='font-size:10.5pt;font-family:
"Segoe UI",sans-serif;color:black'>c)         </span><span style='font-size:
10.5pt;font-family:"Segoe UI",sans-serif;color:#494949'>pri poskytovaní
datasetu s otvorenými údajmi poskytnutie schémy údajov datasetu vo formáte
podľa&nbsp;</span><a
href="https://www.slov-lex.sk/pravne-predpisy/SK/ZZ/2014/55/20151015.html#paragraf-13.odsek-1.pismeno-a"
title="Odkaz na predpis alebo ustanovenie"><i><span style='font-size:10.5pt;
font-family:"Segoe UI",sans-serif;text-decoration:none'>§ 13 písm. a)</span></i></a><span
style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;color:#494949'>&nbsp;alebo,
ak je použitý formát Comma Separated Values (CSV) alebo JavaScript Object
Notation (JSON), poskytnutie textového opisu, obsahujúceho pre každý typ údaja
najmä</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:78.0pt;margin-bottom:.0001pt;text-align:justify;text-indent:-1.0cm;
line-height:normal;background:white'><span style='font-size:10.5pt;font-family:
"Segoe UI",sans-serif;color:#494949'>1.       poradové číslo typu údaja a názov
typu údaja, ak je použitý,</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:78.0pt;margin-bottom:.0001pt;text-align:justify;text-indent:-1.0cm;
line-height:normal;background:white'><span style='font-size:10.5pt;font-family:
"Segoe UI",sans-serif;color:#494949'>2.       opis dátového druhu typu údaja,
napríklad v tvare „identifikátor“, „číslo“, „text“ a podobne,</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:78.0pt;margin-bottom:.0001pt;text-align:justify;text-indent:-1.0cm;
line-height:normal;background:white'><span style='font-size:10.5pt;font-family:
"Segoe UI",sans-serif;color:#494949'>3.       vecný opis typu údaja, napríklad
v tvare „meno“ alebo „priezvisko“, a najmä pre údaj typu identifikátor aj
referenciu na externú definíciu,</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:78.0pt;margin-bottom:.0001pt;text-align:justify;text-indent:-1.0cm;
line-height:normal;background:white'><span style='font-size:10.5pt;font-family:
"Segoe UI",sans-serif;color:#494949'>4.       ohraničenia pre hodnotu typu
údaja, ak existujú,</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:2.0cm;margin-bottom:.0001pt;text-align:justify;text-indent:-35.4pt;
line-height:normal;background:white'><span style='font-size:10.5pt;font-family:
"Segoe UI",sans-serif;color:black'>d)         </span><span style='font-size:
10.5pt;font-family:"Segoe UI",sans-serif;color:#494949'>pre identifikáciu
každého údaja v poskytovanom datasete s otvorenými údajmi používanie</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:78.0pt;margin-bottom:.0001pt;text-align:justify;text-indent:-1.0cm;
line-height:normal;background:white'><span style='font-size:10.5pt;font-family:
"Segoe UI",sans-serif;color:#494949'>1.       referencovateľného
identifikátora,</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:63.8pt;margin-bottom:.0001pt;text-align:justify;text-indent:-14.15pt;
line-height:normal;background:white'><span style='font-size:10.5pt;font-family:
"Segoe UI",sans-serif;color:#494949'>2.kódu podľa príslušného číselníka alebo</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:63.8pt;margin-bottom:.0001pt;text-align:justify;text-indent:-14.15pt;
line-height:normal;background:white'><span style='font-size:10.5pt;font-family:
"Segoe UI",sans-serif;color:#494949'>3.hodnoty predstavujúcej tento údaj,</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:2.0cm;margin-bottom:.0001pt;text-align:justify;text-indent:-35.4pt;
line-height:normal;background:white'><span style='font-size:10.5pt;font-family:
"Segoe UI",sans-serif;color:black'>e)         </span><span style='font-size:
10.5pt;font-family:"Segoe UI",sans-serif;color:#494949'>sprístupnenie
otvorených údajov aplikačným rozhraním podľa&nbsp;</span><a
href="https://www.slov-lex.sk/pravne-predpisy/SK/ZZ/2014/55/20151015.html#paragraf-11.odsek-1.pismeno-a"
title="Odkaz na predpis alebo ustanovenie"><i><span style='font-size:10.5pt;
font-family:"Segoe UI",sans-serif;text-decoration:none'>§ 11 písm. a)</span></i></a><span
style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;color:#494949'>&nbsp;alebo
sprístupnenie datasetu s otvorenými údajmi v ucelenej forme protokolom
podľa&nbsp;</span><a
href="https://www.slov-lex.sk/pravne-predpisy/SK/ZZ/2014/55/20151015.html#paragraf-4.odsek-1"
title="Odkaz na predpis alebo ustanovenie"><i><span style='font-size:10.5pt;
font-family:"Segoe UI",sans-serif;text-decoration:none'>§ 4 ods. 1</span></i></a><span
style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;color:#494949'>,</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:2.0cm;margin-bottom:.0001pt;text-align:justify;text-indent:-35.4pt;
line-height:normal;background:white'><span style='font-size:10.5pt;font-family:
"Segoe UI",sans-serif;color:black'>f)          </span><span style='font-size:
10.5pt;font-family:"Segoe UI",sans-serif;color:#494949'>zaevidovanie datasetu s
otvorenými údajmi v centrálnom katalógu otvorených údajov „data.gov.sk“,</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:2.0cm;margin-bottom:.0001pt;text-align:justify;text-indent:-35.4pt;
line-height:normal;background:white'><span style='font-size:10.5pt;font-family:
"Segoe UI",sans-serif;color:black'>g)         </span><span style='font-size:
10.5pt;font-family:"Segoe UI",sans-serif;color:#494949'>poskytovanie datasetu s
otvorenými údajmi tak, aby bolo umožnené</span></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;text-indent:2.0cm;line-height:normal;background:white'><span
style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;color:#494949'>1.  zistiť
pre každý údaj okamih alebo dobu, v ktorej bol platný,</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:42.55pt;margin-bottom:.0001pt;text-align:justify;text-indent:7.1pt;
line-height:normal;background:white'><span style='font-size:10.5pt;font-family:
"Segoe UI",sans-serif;color:#494949'>2.    zistiť po aktualizácii údajov, ktoré
údaje boli zmenené,</span></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;text-indent:49.65pt;line-height:normal;background:white'><span
style='font-size:10.5pt;font-family:"Segoe UI",sans-serif;color:#494949'>3.    zistiť
či je dataset aktualizovaný v reálnom čase alebo v určitej periodicite a v
akej,</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:78.0pt;margin-bottom:.0001pt;text-align:justify;text-indent:-1.0cm;
line-height:normal;background:white'><span style='font-size:10.5pt;font-family:
"Segoe UI",sans-serif;color:#494949'>4.       odlíšiť chybné alebo nepresné
údaje od správnych alebo presných údajov; ak to nie je možné, odlíšiť celý
dataset ako dataset obsahujúci chybné alebo nepresné údaje,</span></p>

<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
margin-left:2.0cm;margin-bottom:.0001pt;text-align:justify;text-indent:-35.4pt;
line-height:normal;background:white'><span style='font-size:10.5pt;font-family:
"Segoe UI",sans-serif;color:black'>h)         </span><span style='font-size:
10.5pt;font-family:"Segoe UI",sans-serif;color:#494949'>poskytovanie metaúdajov
pre dataset s otvorenými údajmi priamo na mieste poskytnutia datasetu alebo
prostredníctvom katalógu otvorených údajov, ktorým je miesto evidencie
otvorených údajov povinnej osoby, a to najmenej v rozsahu podľa prílohy č. 9
bodov 1 až 6.</span></p>

<p class=MsoNormal><b>&nbsp;</b></p>

<p class=MsoNormal>&nbsp;</p>

</div>

<div><br clear=all>

<hr align=left size=1 width="33%">

<div id=ftn1>

<p class=MsoFootnoteText><a href="#_ftnref1" name="_ftn1" title=""><span
class=MsoFootnoteReference><span class=MsoFootnoteReference><span
style='font-size:10.0pt;line-height:107%;font-family:"Calibri",sans-serif'>[1]</span></span></span></a>
§ 21 zákona č. 523/2004 Z. z. o rozpočtových pravidlách verejnej správy a o
zmene a doplnení niektorých zákonov v znení zákona č. 584/2005 Z. z.</p>

<p class=MsoFootnoteText>§ 1 ods. 3 zákona č. 583/2004 Z. z. o rozpočtových
pravidlách územnej samosprávy a o zmene a doplnení niektorých zákonov.</p>

</div>

<div id=ftn2>

<p class=MsoFootnoteText><a href="#_ftnref2" name="_ftn2" title=""><span
class=MsoFootnoteReference><span class=MsoFootnoteReference><span
style='font-size:10.0pt;line-height:107%;font-family:"Calibri",sans-serif'>[2]</span></span></span></a>
Napríklad zákon Národnej rady Slovenskej republiky č. 162/1995 Z. z. o katastri
nehnuteľností a o zápise vlastníckych a iných práv k nehnuteľnostiam
(katastrálny zákon) v znení neskorších predpisov, zákon č. 149/1975 Zb. o
archívnictve v znení neskorších predpisov.</p>

</div>

<div id=ftn3>

<p class=MsoFootnoteText><a href="#_ftnref3" name="_ftn3" title=""><span
class=MsoFootnoteReference><span class=MsoFootnoteReference><span
style='font-size:10.0pt;line-height:107%;font-family:"Calibri",sans-serif'>[3]</span></span></span></a>
Povinná osoba zverejní prostredníctvom portálu otvorených údajov. Zverejňovanie
na portáli otvorených údajov / ÚPVS nerealizuje prevádzkovateľ ÚPVS, ale samotná
povinná osoba, ktorá sa do systému musí sama prihlásiť s eID a vykonať potrebné
úkony sama.</p>

</div>

<div id=ftn4>

<p class=MsoFootnoteText><a href="#_ftnref4" name="_ftn4" title=""><span
class=MsoFootnoteReference><span class=MsoFootnoteReference><span
style='font-size:10.0pt;line-height:107%;font-family:"Calibri",sans-serif'>[4]</span></span></span></a>
§ 2 písm. j) zákona č. 275/2006 Z. z. v znení zákona č. 570/2009 Z. z.</p>

</div>

</div>


</ul>
</div>
</div>
</div>
{% endblock %}
