
@media (min-width: 770px) {
    body > header.navbar.navbar-static-top.masthead > div.container{
        background-color: #453b34;
        color: white;
        width: 100%;
        height: 40px;
	   float:none;    
	}
    body > header.navbar.navbar-static-top.masthead{
        height: 285px;
        background-color: #5d2725;        
    }
    body > header {
        background: #5d2725 url(/top_banner.jpg) no-repeat center 40px;
    }
    #content2 > div.row.row2{
        width: 100%;
        background-color: #fff;
        margin-top: 120px;
    }

    .full_size{
        padding-bottom: 0;
        position: absolute;
        z-index: 50;
        top: 31px;
	left:41px;
	min-width:48.45%;
	width:300px;
    }
    .small{
        display: none;
    }
    }
@media (min-width: 770px) and (max-width: 970px) {
    body > header.navbar.navbar-static-top.masthead > div.container{
        width: 97% !important;  
    }
}
@media (max-width: 770px) {


    body > div.hero > div > div.module.module-search.module-narrow.module-shallow.box > form > button
    {
        padding: 1.1em;
        padding-left: 0.9em;
        padding-right: 0.9em;
        margin: 0.5em;
        margin-bottom: 1.1em;
        border: 1px solid #bd0a26;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: #eeeeee;
        color:#b81821 ;
    }
    .full_size{
        min-width: 0;
        width: 90%;
        height: 110px;
        margin: 12px 0 0 0;
        background: url(/icons_slov.png) no-repeat 10px -454px;
        -webkit-background-size: 250px auto;
        -moz-background-size: 250px auto;
        background-size: 250px auto;
    }
    body > div.hero > div > div.module.module-search.module-narrow.module-shallow.box > form > button:hover
    {
      
        background-color: #990000;
        color: white;

    }
    body > div.hero > div > div.module.module-search.module-narrow.module-shallow.box > form > input{
        border: 1px solid #b81821;
        width: 200px;
        height: 0px;
        
        padding-bottom: 2ex;
        padding-top: 2ex;
        font-size: 1.5em;
        
        margin-left: auto;
        margin-right: auto;
}
    body > header.navbar.navbar-static-top.masthead > div.container{
        background-color: #453b34;
        color: white;
        
        height: 41px;
    }
    body > header.navbar.navbar-static-top.masthead{
        background-color: #5d2725;
        background-image: url('/top_banner.jpg');
        
        background-repeat: no-repeat;
        background-position: 10% 50%;
        width: inherit;
        background-size: 807px 230px;
        margin-bottom: 2em;

    }
    body > header{
        height: 180px;
    }
    .full_size{
        display: block;
    }
    #header_logo{
        display: none;
    }
    body > div.hero > div > div.module.module-search.module-narrow.module-shallow.box > form{
        width: 356px;
        height: 50px;
        
        padding-top: 2ex;
        padding-bottom: 3em;
        margin-left: auto;
        margin-right: auto;
    }
    body > div.homepage.layout-1 > div.hero > div > div.row.row2 > div.span6.col1 > div{
        margin-bottom: 0em;
    }
    body > div.homepage.layout-1 > div.hero > div > div.module.module-search.module-narrow.module-shallow.box{
        margin-bottom: 0em;
    }
    body > div.homepage.layout-1 > div.hero > div > div.row.row2{
        margin-bottom: 0em;
    }
    body > div.homepage.layout-1{
        margin-bottom: -9em;
    }
    body > div.hero > div > div.module.module-search.module-narrow.module-shallow.box > form > div > button > i{
        color: #444444;
    }
    body > div.hero > div > div.module.module-search.module-narrow.module-shallow.box > form > div > button > i:hover{
        color: #aaaaaa;
    }
    body > div.hero > div > div.module.module-search.module-narrow.module-shallow.box > form{
        background-color: #bd0a26;
    }
    body > div.homepage.layout-1 > div.hero > div > div.module.module-search.module-narrow.module-shallow.box{
        position: absolute;
        top: -48px;
        background-color: #bd0a26;
    }
    .account-masthead{
        margin-left: 0px;
        margin-right: 0px;
    }
    .navbar-static-top{
        margin-right: 0px;
    }
    body > header.navbar.navbar-static-top.masthead > div.container > div > nav > ul > li{
        width: 30em;
    }
    body > div.hero > div > div.module.module-search.module-narrow.module-shallow.box{
        background-color: #bd0a26;
        padding-top: 0px;
        height: 90px;
        margin-top: -35px;
        margin-bottom: 0px;
    }
}
.debug{
    z-index: 100000;
}
body > header.navbar.navbar-static-top.masthead > div.container > button{
        position: relative;
        right: 3em;
        top: -10px;
    }



body > header.navbar.navbar-static-top.masthead > div.container > div{
    margin-left:auto;
    margin-right:auto;
    position: relative;
    top: -10px;
    width:100%
    width:100%;;
    float:none;
}
.hero{
    background-image: none;
}
body > div.hero > div > div.module.module-search.module-narrow.module-shallow.box > form > h3{
    display: none;
}
body > div.homepage.layout-1 > div.hero > div > div.module.module-search.module-narrow.module-shallow.box > div{
    display: none;
}
.homepage .module-search {
    padding: 0px;
    border: none;
    box-shadow: none;
    width: 75%;
    padding: 0px;
    position: absolute;
    top: -20px;
    background-color: transparent;
    border-radius: none;
    border: none;
}
body > div.homepage.layout-1 > div.hero > div > div.row.row2{
    margin-top: 4em;
    
}
body > div.homepage.layout-1 > div.hero > div > div.row.row2 > div.span6.col1 > div{
    padding-left: 5em;
}


body > div.homepage.layout-1 > div.hero > div > div.row.row2{
    /*width: 100%;*/

}/*
*/
body > div.homepage.layout-1 > div.hero > div > div.row.row2{
    position: absolute;
    top: 2em;
    left: 0px;


}
body > div.homepage.layout-1 > div.hero{

    margin-bottom: 5em;
}
body > div{
    
    background-image: none;
}
body{
    background: none;
    background-image: none;

}
.site-footer{
    background: none;
    background-image: none;
    background-color: #453b34;
    color: #ffffff;
    font-size:0.813em;
}

.site-footer a{
    color: #ffffff;    
}

footer{
    border-top: 5px solid #bd0a26;
}
h1{
    font-size: 2.2em;
    color: #3E3E3E;
}

h2{
    font-size: 1.5em;
    color: #3E3E3E;
}
h3{
    font-size: 1.125em;
    color: #3E3E3E;
}
p{
    font-size: 0.875em;
    color: #3E3E3E;
}
div{
    border: none;
}
.box {
    border-radius: 0, add -webkit-appearance: none;
    border: none;
    box-shadow: none;
}
body > header.navbar.navbar-static-top.masthead > div.container > div > nav > ul > li > a:hover{
    background-color: #453b34;
    text-decoration: underline;
    z-index: 1000000;
}
body > header.navbar.navbar-static-top.masthead > div.container > div > nav > ul > li{
    z-index: -1;
}
body > header.navbar.navbar-static-top.masthead > div.container > div > nav > ul > li.active > a{
    background-color: #685d56;
}

#add_new_button, .mybutton
{
    padding: 0.3em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    border: 1px solid #bd0a26;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: white;
    background-color: #bd0a26;
    cursor:pointer;

}

#add_new_button:hover, .mybutton:hover
{
    background-color: #990000;
    cursor:pointer;
    
}

body > div.homepage.layout-1 > div.hero > div > div.row.row2 > div.span6.col1 > div > section > h2{
    background-color: transparent;
    color: #3E3E3E;
}
body{
    padding: 0em;
    font-size:1em;
}
#content > div.row.wrapper.no-nav > section > a,#content3 > div.row.wrapper.no-nav > section > a{
    float: right;
}
#content > div.row.wrapper.no-nav > section > a:hover, #content3 > div.row.wrapper.no-nav > section > a:hover{
    float: right;
}
#content > div.row.wrapper > div > section > div.module-content > form > a.show-filters, #content3 > div.row.wrapper > div > section > div.module-content > form > a.show-filters{
    display: none;
}
#content > div.row.wrapper, #content3 > div.row.wrapper{
    border-radius: 0, add -webkit-appearance: none;
    border: none;
    box-shadow: none; }
a{
    color: #bd0a26;
}
a:hover{
    color: #bd0a26;
    text-decoration: underline;
}
/*
body > div{
    padding: 1.8em;
}*/
body > div.homepage.layout-1{
    padding: 0em;
}
#arrowUp{
    padding: 0em;
}
body > header.navbar.navbar-static-top.masthead > div.container{
        z-index: 999;
}
#content3 > div.row.wrapper > div > * > div.module-content > ul > li > div > h3 > a, #content > div.row.wrapper > div > * > div.module-content > ul > li > div > h3 > a{
    color: #bd0a26;
    font-size: 1em;
}
[role=main], .main, #content > div.row.wrapper > div > article > div > ul, #content3 > div.row.wrapper > div > article > div > ul{
    padding-top: 10px;
    background: #ffffff;
}
#content3 > div.row.wrapper > div > article > div > form > a.show-filters.btn, #content > div.row.wrapper > div > article > div > form > a.show-filters.btn{
    display: none;
}

#select2-drop{
    padding: 0px;
}
.home_button{
    position: absolute;
    
    margin-left: auto;
    margin-right: -2em;
    padding-right: 2em;
    font-size: 1.9em;
}
.home_button:hover{
    color: white;
    
    margin-right: 0.5em;
}
body > header.navbar.navbar-static-top.masthead > div.container > div > nav > ul > li:nth-child(1) > a > i{
    font-size: 1.2em;
}

#content > div.row.wrapper, #content3 > div.row.wrapper{
    border: 2px solid #d4d4d4;
    border-radius: 5px;
    background-color: #f7f7f7;
}
#content > div.row.wrapper > div, 
#content > div.row.wrapper > div > article > div > ul > li,
#content > div.row.wrapper > div > article > div > ul > li > div,
#content > div.row.wrapper > div > article > div > ul > li > div > h3,
#content > div.row.wrapper > div > article > div > ul,
#content3 > div.row.wrapper > div, 
#content3 > div.row.wrapper > div > article > div > ul > li,
#content3 > div.row.wrapper > div > article > div > ul > li > div,
#content3 > div.row.wrapper > div > article > div > ul > li > div > h3,
#content3 > div.row.wrapper > div > article > div > ul{
    background-color: #f7f7f7;
}


#content > div.row.wrapper > div > article > div > table > tbody > tr > td > div > a.btn-group,
#content3 > div.row.wrapper > div > article > div > table > tbody > tr > td > div > a.btn-group{
    font-size: 1em;
}
.btn-group {
font-size: 1em;
margin: 0px;
}
#content > div.row.wrapper > div > article > div > table > tbody > tr > td > div > a,
#content3 > div.row.wrapper > div > article > div > table > tbody > tr > td > div > a{
    margin: -2px;
}
body > div.hero > div > div.module.module-search.module-narrow.module-shallow.box > form > input{
    color: black;
}
#index{
    border: 2px solid #bbbbbb;
    border-radius: 10px 10px;
    /*padding: 1em;*/
    padding-bottom: 1em;
    
    
    margin-top: 1em;
    /*margin-bottom: 10em;*/
    height: 100%;

    box-shadow: 0 0 0 4px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 0 0 4px rgba(0,0,0,0.05);
    border: 1px solid #cccccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background-color: #f9f9f9;

}
#index > div{
    padding: 0.5em;
}
body > div.hero{
    padding: 0px;
    margin-bottom: 0px;
    height: auto;
}
[role=main] {
 min-height: 0px;
}

body > div.hero > div > div.module.module-search.module-narrow.module-shallow.box > form{
    /*width: 456px;*/
    height: 50px;
        
    padding-top: 2ex;
    padding-bottom: 0em;
    border-bottom: none;
    margin-left: auto;
    margin-right: auto;
}

.element{
    padding: 0.4em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    font-size: 1.1em;
}
.element > h3{
    font-size: 1.1em;
}
.most_recent{
    background-color: #f9f9f9;
}
body > footer > div > div > div.span4.attribution > p > strong{
    color: white;
}

#content > div.row.wrapper > div > section > div > ol > li, #content3 > div.row.wrapper > div > section > div > ol > li{
    width: 33%;
}
#content > div.row.wrapper > div > section > div > form > label > input, #content3 > div.row.wrapper > div > section > div > form > label > input{
    margin-top: -0.6em;
}
/*body > header.navbar.navbar-static-top.masthead > div.container > div{
    position: absolute;
    top: -10px;
    margin-left: 15%;
}*//
#content > div.row.wrapper > div > article > div > ul > li.related-item.media-item.is-expander.masonry-brick > img,
#content > div.row.wrapper > div > article > div > ul > li > img,
#content3 > div.row.wrapper > div > article > div > ul > li.related-item.media-item.is-expander.masonry-brick > img,
#content3 > div.row.wrapper > div > article > div > ul > li > img{
    max-height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
#content > div.row.wrapper > div > article > div > form > button,
#content > div.row.wrapper > div > article > div > form > button:hover,
#content3 > div.row.wrapper > div > article > div > form > button,
#content3 > div.row.wrapper > div > article > div > form > button:hover{
    padding: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;

}

@media (max-width: 784px){
    .small{
        display: none;
    }
}
body > header.navbar.navbar-static-top.masthead > div.container > button{
    position: absolute;
    top: -5px;
}

#content > div.row.wrapper > div > section > div.module-content > ul > li > div > h3,
#content3 > div.row.wrapper > div > section > div.module-content > ul > li > div > h3{
    margin-bottom: 5px;
}
#content > div.row.wrapper > div > section > div.module-content > ul > li,
#content3 > div.row.wrapper > div > section > div.module-content > ul > li{
        margin-bottom: 6px;
        padding-bottom: 6px;
        padding-left: 20px;
}

@media (max-width: 538px){
    body > header.account-masthead,
    body > header.account-masthead > div
    {
        right: 0em;
        width: 0px;
    }
    body > header.account-masthead > div,
    body > header.account-masthead > div > nav{
        position: absolute;
        right: 1.5em;
    }
    body > header.navbar.navbar-static-top.masthead > div > div > nav{
        width: 210px;
    }
    body > div.hero > div > div.module.module-search.module-narrow.module-shallow.box > form{
        width: 80%;
    }
    body > div.hero > div > div.module.module-search.module-narrow.module-shallow.box > form > button{
        margin: 0px;
        margin-bottom: 8px;
        padding: 5px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    body > div.hero > div > div.module.module-search.module-narrow.module-shallow.box > form > input{
        width: 50%;
    }
}
body > header.account-masthead > div > div > ul > li:nth-child(1) > a{
    min-width: 160px;
}

#content > div.row.wrapper > div > article > div > ul > li > a.btn.btn-primary.btn-small.media-edit,
#content3 > div.row.wrapper > div > article > div > ul > li > a.btn.btn-primary.btn-small.media-edit{
    display: none;
}
.btn{
    background: none;
    background-color: #fff;
    border: none;  
}
.btn-primary, .mybutton, .btn-danger, .btn-search{
    background: none;
    background-color: #bd0a26;
    border: none;
    font-size: 1em;
    font-weight: normal;
    padding: 0.2em;
    padding-left: 0.6em;
    padding-right: 0.6em;
}
.btn-success{
    background-color: #5bb75b;
}

.btn:focus,
.dropdown-toggle:hover,
.btn-primary:hover,
.mybutton:hover,
.btn-danger:hover,
.btn-primary:active,
.mybutton:active,
.btn-danger:active,
.btn-search:active
{
     background-color: #990000;
}
#content > div.row.wrapper > div > article > div > h1 > a,
#content3 > div.row.wrapper > div > article > div > h1 > a{
    font-size: 0.5em;
}
.page_primary_action{
    text-align: right;
}

body > div.hero > div > div.module.module-search.module-narrow.module-shallow.box > div{
  display: none;
}
#index > div > div.element{
  padding-top: 0px;
  padding-bottom: 0px;
}
#index > div > div.element > h3{
  margin-top: 0px;
  margin-bottom: 0px;
}
#index > div > hr{
  margin: 0.2em;
}
#index > div > div.element > p{
  margin-bottom: 0.1em;
}

.searchbox > li{
  display: inline;
}
.btn-search{  
    min-width: 103px;
    padding: 0.25em;
    color: white;
    background-color: #bd0a26;
    padding: 1em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    margin: 0.7em;
    border: 1px solid #bd0a26;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: white;
    background-color: #bd0a26;

}
#content > div.row.wrapper > div > article > div > form > div.form-actions > a,
#content > div.row.wrapper > div > article > div > form > div.form-actions > a:hover,
#content3 > div.row.wrapper > div > article > div > form > div.form-actions > a,
#content3 > div.row.wrapper > div > article > div > form > div.form-actions > a:hover{
    padding-bottom:  0.5em;
}
.reply{
    cursor: pointer;
}
.modal-dialog > div{
    z-index: 9999;
}
:not(body) > div.modal-backdrop.fade.in{
        display: none;
}
body > footer > div > nav{
    float: left;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTeY5mlVXtdNkpsMpKkrDXP4.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSuY5mlVXtdNkpsMpKkrDXP4.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBqfTCPadK0KLfdEfFtGWCYw.woff) format('woff');
}
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600&subset=latin,latin-ext);*/


html, head, body, p, a, li, ul{
   font-family: "Open Sans","Segoe UI","Trebuchet MS","Geneva CE",lucida,sans-serif;
}

.account-masthead .account ul li a {
    font-size: 1em; 
    font-weight: bold;
    padding: 0 10px;
    line-height: 31px;
}
body > header.account-masthead > div > div > ul > li > a:hover, body > header.account-masthead > div > div > ul > li > a > i:hover, 
body > header.account-masthead > div > div > ul > li:hover, .account-masthead .account ul li a:hover{
    color:#bd0a26;
    background-color: #fff;
}
.form-horizontal .control-group.min_padding{
  padding-bottom: 0px;
  margin-bottom: 0px; 
}

#content > div.hero-secondary,
#content > div.hero-primary.module.module-popup,
#content3 > div.hero-secondary,
#content3 > div.hero-primary.module.module-popup{
    width: 45%;
    
}
#content > div.hero-primary.module.module-popup, #content3 > div.hero-primary.module.module-popup{
    float: left;
}
#content > div.hero-secondary, #content > div.hero-secondary{
    float: right;
}
/*html{
    color:#3E3E3E;
    min-width: 510px;
}*/

.box{
    background-color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 0.5em;
    border: 2px solid #d4d4d4;
    padding: 2em;
    background-color: #f9f9f9;
}
.module-heading{
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.module-plot-canvas{
  width: 400px ;
  padding-top: 0px;
}
#content > div.row.row1 > div.span6.col1 > div > section > ul > li, #content3 > div.row.row1 > div.span6.col1 > div > section > ul > li{
  padding-top: 0px;
}


ul.stats_snippet{
    content: "";
    display: table;
    list-style: outside none none;
    margin: 0;
    width: 100%;
}
ul.stats_snippet li{
    float: left;
    font-weight: 300;
    line-height: 20px;
    width: 25%;
}
#content > div.row.row1 > div.span6.col1 > div.box.stats > div, #content3 > div.row.row1 > div.span6.col1 > div.box.stats > div {
    padding: 20px 25px;
}
#content > div.row.row1 > div.span6.col1 > div > section > header > h3 , #content3 > div.row.row1 > div.span6.col1 > div > section > header > h3 {
    font-size: 1.4em;
    font-weight: 400;
    hyphens: auto;
    line-height: 1.3;
    margin: 5px 0;
    word-break: break-all;
}
#content > div.row.row1 > div.span6.col1 > div > section > ul > li > div > h2,
#content3 > div.row.row1 > div.span6.col1 > div > section > ul > li > div > h2{
    color: #bd0a26;
}
#content > div.row.row1 > div.span11.col1 > div > div, #content3 > div.row.row1 > div.span11.col1 > div > div{
    display: inline;
}
#search_form_index{
    padding-left:0px;  
}
#search_input_index{
    width:52.6%;
    height:26px;
    padding:11px 16px;
    border-color:#bd0a26; 
    color: #000;
    border-radius: 5px;
    margin-bottom:0px;
    margin-right:6px;
}
#search_button_index{ 
    height:50px;
    padding-left:11px;
    padding-right:11px;
    min-width:103px;
    font-family: "Open Sans","Segoe UI","Trebuchet MS","Geneva CE",lucida,sans-serif;
font-size:0.938em;    
margin-bottom:4px;
}

#notices, #datasets, #organizations, #statistics{
    padding: 1em;
    border-left: 2px solid #d4d4d4;
    border-right: 2px solid #d4d4d4;
    border-bottom: 2px solid #d4d4d4;
    border-radius: 0 5px 5px 5px;
    background-color: #f9f9f9;
}
#home_menu{
    margin-bottom: -2px;

    border-bottom:  2px solid #d4d4d4;
}
#home_menu > li > a {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 1.125em;
    border-left: 2px solid #d4d4d4;
    border-right: 2px solid #d4d4d4;
    border-top: 2px solid #d4d4d4;
    border-radius: 5px 5px 0 0;

}
#home_menu > li > a{
    background-color: #c79769;
    color: #fff;
}
#home_menu > li > a:hover{
    background-color: #9d7854;
    text-decoration: underline;
}
#home_menu > li.active > a{
    color: #5f5247;
    background-color: #f9f9f9;
}
#home_menu{
    border-bottom: none;
}
#notices, #statistics{
        border-top: 2px solid #d4d4d4;
}

#crumbs {
width:100%;
height:100%;
}

#crumbs > div{
height:100%;
padding-top:10px;
}
#crumbs div {
width:100%
}

#crumbs div, #crumbs p a{
    float: right;
}
#crumbs > div > div > a {
    float: left;
    text-align: right;
    padding: 25px 18px 25px 19px;
    padding-right: auto;
    position: relative;
    margin: 0px 0px 0px 0;
    font-size: 1.125em;;
    line-height:20px;
    text-decoration: none;
    color: #fff;
    -webkit-box-shadow: -10px 9px 20px 0px rgba(12,12,12,0.72);
    -moz-box-shadow: -10px 9px 20px 0px rgba(12,12,12,0.72);
    box-shadow: -10px 9px 20px 0px rgba(12,12,12,0.72);
}
#crumbs > div > div > a > strong {
float:left;
text-align:left;
font-size:1.7em;
}
#crumbs > div > div > a > span {
padding-right:45px;
}

#crumbs > div > div>a.purple{
    background: #5a438b url("/org.png") no-repeat scroll right 15px center / 35px auto;
    z-index: 999;
    width:55%;
    border-left: 2px solid #5a438b;
    border-bottom: 2px solid #5a438b;
}
#crumbs > div > div > a.purple:before{
    border-right: 20px solid #5a438b;
}

#crumbs > div > div> a.red{
    background: #b81824 url("/app.png") no-repeat scroll right 15px center / 35px auto;
   width:40%;
   border-left: 2px solid #b81824;
    border-bottom: 2px solid #b81824;
}
#crumbs > div >div> a.red:before{
    border-right: 20px solid #b81824;
}

#crumbs > div > div >a.green{
    background: #93bf20 url("/datasety.png") no-repeat scroll right 15px center / 35px auto;
    z-index: 999;
    width:80%;
    border-left: 2px solid #93bf20;
    border-bottom: 2px solid #93bf20;
}
#crumbs > div >div >a.green:before{
    border-right: 20px solid #93bf20;
}

#crumbs > div > div> a.orange{
    background: #e84710 url("/statistika.png") no-repeat scroll right 15px center / 35px auto ;
    width:60%;
    border-left: 2px solid #e84710;
    border-bottom: 2px solid #e84710;
}
#crumbs > div > div >a.orange:before{
    border-right: 20px solid #e84710;
}
#crumbs > div >div >a:before {

    content: "";  
    position: absolute; 
    left: -21px; top: 0;
    border-top: 38px solid transparent;
    border-bottom: 35px solid transparent;

}
#crumbs > div > div > a{
    float: inherit;
}
#stats_1st{
    width: 48%;
}

#statistics{
    height: 325px;
}
/*zmazat*/
.index_mini{
    max-width: 100%;
    height: 75px;
    
}
.org_snippet_list{
    list-style-type: none;
     display: inline;
}
.org_snippet_list > li{
   display: inline;
   width: 75px;
   padding-left: 5em;
}
#org_snippet_list > li > a{
   width: 75px;
}

/* 
    5a438b 
    b81824
    93bf20
    e84710
*/
#home_dataset_urls{
    display:inline; 
    width: 50%; 
    float:right;
}
#notices > div > ul{
    line-height: 120%;
    display:inline; 
    width: 45%; 
    float:right;
    list-style: none;
    margin-bottom: 1.5em;
}
#notices > div > ul > li > a{
    display: block;
    background: url(/arrows.png) no-repeat 0 9px;
    padding: 3px 0 3px 16px;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size:0.875em;
}
#notices > div > ul > li{
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 9px;
    margin-top: 9px;
}
#notices > div > ul > li > a:hover{
    padding-left: 30px;
    background-color: #5f5247;
    background-position: 11px -183px;
    color: #fff;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.account_box{
    background-color: #bd0a26;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
#content2 > div > div.span3.col1 > div > div > ul > li{
    display: inline;
}
#content2 > div > div.span3.col1 > div > div > ul > li > a > img.gravatar{
    display: none;
}

#content2 > div > div.span3.col1 > div > div > ul > li > a > span.username{
    width: 100%;
    display: block;
}
#content2 > div > div.span3.col1 > div > div > ul > li > a{
    font-size: 1.1em;

}
#content2 > div > div.span3.col1 > div > div > ul > li > a:hover{
    color: white;
    text-decoration: underline;
}
.js .tab-content {
     display: inline;
}
#acc_info_not_logged{
    color: white;
    padding: 10px 15px;
    margin-right: auto;
    margin-left: auto;
}
#acc_info_not_logged > span{
    margin-right: auto;
    margin-left: auto;
    background: url(/icons_slov.png) no-repeat -89px -94px;
    padding-left: 20px;
}
#login_link_not_logged{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #bd0a26;
    background-color: #fff;
    padding: 10px 15px;
    /*font-weight: 800;*/
}
#login_link_not_logged > a{
    color: #bd0a26;
}
#content2 > div > div.span3.col1 > div > div > ul{
    padding: 1em;
}
@media (min-width: 1200px){
    #content2, #content3{
        width: 1150px;
    }

}
#content > div.flash-messages > div, #content3 > div.flash-messages > div{
    width: 70%;
}
#right_boxes > ul, #long_boxes > ul, #big_box > ul{
    list-style: none;
    margin: 0px;
}

.menubox{
    /*padding: 0.8em;
    margin: 3px;*/
}
.green_menubox{
    color: #fff;
    background-color: #93c01d;
    width: 105px;
    height: 105px;
}
.purple_menubox{
    color: #fff;
    background-color: #59428a;
    width: 105px;
    height: 105px;
}
.red_menubox{
    color: #fff;
    background-color: #b81822;
    width: 105px;
    height: 105px;
}
.blue_menubox{
    color: #fff;
    background-color: #147dbf;
    width: 105px;
    height: 105px;
}

.green_menubox:hover{
    background-color: rgb(115, 150, 25);
    color: #fff;
    text-decoration: none;
}
.purple_menubox:hover{
    background-color: #3c2667;
    color: #fff;
    text-decoration: none;
}
.red_menubox:hover{
    background-color: #97061d;
    color: #fff;
    text-decoration: none;
}
.blue_menubox:hover{
    background-color: rgb(14, 91, 139);
    color: #fff;

}
#right_boxes > ul > li {

    display: block;
    float: left;
    border-radius: 7px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.box2{
    height: 210px;
    background-color: #fff;
    border-radius: 5px;
}
.menubox{
    /*border: 3px solid #fff;*/
}
.menubox > a{
    float: left;
    width: 105px;
    height: 91px;
    padding-top: 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
}
.menubox > a:hover{
    text-decoration: none;
}

@media (min-width: 1200px){
    .span9{
        width: 665px;
    }
    /*#bottom_menu{
        display: none;
    }*/
    #content > div.row.row1 > div.span3.col1{
        float: right; 
        width: 240px;
        margin-top: -194px;
    }
    #content{
        width:1150px;
    }
    .wrapper{
         width: 900px;
    }
    #right_boxes{
        padding: 0.2em;
        margin-bottom: -0.35em; 
        padding: 10px; 
        padding: 10px 0px 10px 10px;

    }
    #long_boxes{
        padding-left: 10px; 
        padding-right: 10px;
    }
    #notices{
        height: 300px;
    }
    #content2 > div > div.span3.col1.mini_boxes, #left_box_padder {
        width: 240px;
    }
    	
    #content2 > div > div.span3.col1.mini_boxes{
	margin-top:24px;
    }
    #left_box_padder{;
        margin-top: -260px;
	margin-left:10px;
        float: left;
    }
    .span11{
        max-width: 900px;
    	width:100%;
     }
}

@media (max-width: 979px) and (min-width: 770px){
    #upper_menu{
        height: 215px;
        padding: 5px;
        width: 240px;
        float: right;
        margin-top: -180px;
    }

    /*#bottom_menu{
        width: 100%;
        display: none;
    }
    #left_box_padder {
        float: right;
      min-width: 246px;
      width: 26%;
    }*/
    #content > div.row.row1 > div.wrapper > div{
        width: 42%
    }
    #content > div.row.row1 > div.wrapper > aside{
        width: 22%;
    }

    .box2{
        padding: 10px;
    }
    #notices{
      height: 450px;
    }
    .green_menubox, .purple_menubox, .red_menubox, .blue_menubox {
        max-width: 105px;
        max-height: 105px;
        width: auto;
        height: auto;
    }
     .purple_menubox, .blue_menubox {margin-right: 0px !important;}
}
@media (max-width: 1200px) and (min-width: 979px){

    #upper_menu{
        /*display: none;*/
        height: 215px;
        padding: 5px;
        width: 250px;
        float: right;
        margin-top: -75px;
    }
    #content{
        min-height: 1125px;
    }   
    #content > div.row.row1 > div.wrapper > aside{

    }
    #content > div.row.row1 > div.wrapper > div{
        width: 50%
    }
    /*
    #content > div.row.row1 > section{
        width: 65%;
    }

    #bottom_menu{
        width: 100%;
    }*/
    #left_box_padder {
      width: 240px;
      margin-top: -220px;
    } 
    #notices{
      height: 400px;
    }
    .box2{
        height: 215px;
        padding: 5px;
    }
    #top_user_box > div.span3.col1.mini_boxes{
        width: 240px;
    }
    #right_boxes > ul{   
        margin-left: 5px;
        margin-top: 5px;
        width: 100%;
    }

}

@media (max-width: 770px) {

    #content > div.row.row1 > div.wrapper > div > article > div > form > fieldset > div > label > a,
    #content > div.row.row1 > section{
        /*display: none;*/
    }
    #content > div.row.row1 > div.wrapper > div > div > table > tbody > tr > td > a, .show-more, .show-less{
        color: #fff;
        text-decoration: underline;
    }

    #upper_menu{
        margin-top: 0px !important;
    }
    #content > div.row.row1 > div.wrapper > div > article > div > h2,
    #content > div.row.row1 > div.wrapper > div > article > div > form > fieldset > legend,
     .control-group > div > a, .control-group > div > p,
    #content > div.row.row1 > div.wrapper > div > article > div > p,
    #content > div.row.row1 > div.wrapper > div > article > div > form > label,
    #content > div.row.row1 > div.wrapper > div > div > h2,
    #content > div.row.row1 > div.wrapper > div > h2
    {
        color: #fff;
    }
    #home_menu > li > a{
        width: 100% !important;
    }
    #big_box > ul > li{
        display: inline;
    }
    #big_box > ul > li > a > img{
        max-height: 30px !important;
        height: 30px !important;
        width: auto !important;
    }
    #big_box > ul > li:nth-child(2) > a > img{
        height: 15px !important;
    }
    #content > div.row.row1 > div.wrapper > div > section > div.module-content > form > h2, 
    .form-select.control-group.control-order-by > label{
        color: #ddd;
    }
    #notices{
      height: 500px;
    }
    #right_boxes > ul{ padding-left: 20%;}
    .box2 {height: 140px;}

    #content > div.row.row1 > div.wrapper > div > section:nth-child(1) > div.module-content > ul > li{
        background-color: #fff !important;
        padding: 5px !important;
    }
}
@media (max-width: 430px) {

    #notices{
      height: 600px;
    }
    /*
    #bottom_menu{
        width: 100%;
    }*/

}
#long_boxes > ul > li > a{
    
    width: 100%;
    padding: 0;
    line-height: 47px;
    text-align: left;
    color: #fff;
    font-size:0.938em;
}
#long_boxes > ul > li{
    background-color: #5f5247;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #fff;
    padding: 0.1em;
    border-radius: 5px;
}

#big_box{
    background-color: #5f5247;
    padding: 20px;
    border-radius: 5px;
}
#big_box > h2, #big_box > ul > li > a, #big_box > ul > li > a:hover{
    color: #fff;
    text-decoration: none;
}
#big_box > h2{
    font-weight: 700;
}
#long_boxes > ul > li > a > span{
    position: relative;
    display: inline-block;
    top: 5px;
    width: 24px;
    height: 24px;
    margin: 0 10px 0 16px;
    background: url(/icons_slov.png) no-repeat -89px -3px;
    zoom: 1;
    overflow: hidden;
}

#big_box > ul > li > a > img{
    width: 11%;
    height: 11%;
    margin: 5px;
}
#big_box > ul > li > a {
font-size:0.813em;
}

#big_box > ul > li:nth-child(2) > a > img{
    width: 80px;
    height: 15px;
}
#big_box > ul > li:nth-child(5) > a > img{
    width: 11%;
    height: 11%;
}


#search_form_index{
    margin-top: -5px;
    margin-bottom:10px;
}
@media (min-width: 1200px){
    .site-footer >div.container {
      width: 1150px;
    }
}

.menu_item_top{
    margin-right: 9px;
    padding-right: 10px;
    border-right: 1px solid #6a625d;
}

.account {
font-size:0.813em;
}
#content .box ul, #content3 .box ul, #content3 .box ul, #content3 .box ul {
font-size:0.875em;
}
.tag {
color: #3e3e3e;
background-color: rgb(228, 228, 228);
border: none;
}
a.tag:hover {
border:none;
}

.loginAction, .loginAction > a, .loginAction > span > a{
    background-color: #fff;
    color: #BD0A26 ;
    width: 240px;
    font-size: 1.1em;
}

.username:hover, .image:hover{
    color: #fff;
}
#loginPanel {
    float: right;
    width: 240px;
    background: #FFF none repeat scroll 0% 0%;
    border-radius: 5px;
    overflow: hidden;
}
#loginPanel .loginHeader {
    background: #B81821 none repeat scroll 0% 0%;
    padding: 10px 15px;
    color: #FFF;
}
#loginPanel .edeskStatus {
    position: relative;
    padding: 10px 15px 15px;
    font-size: 0.725em;
}
#loginPanel .loginAction {
    position: relative;
    margin-bottom: 3px;
    padding: 0px 15px;
    font-size: 0.725em;
}
#loginPanel .loginAction {
    position: relative;
    margin-bottom: 3px;
    padding: 0px 15px;
    font-size: 0.725em;
}
#loginPanel .logout {
    float: right;
    border: medium none;
    background: #F3D3D8 none repeat scroll 0% 0%;
    color: #BD0A26;
    margin-top: 8px;
    padding: 2px 10px;
    font-size: 0.625em;
    text-transform: lowercase;
    border-top-left-radius: 5px;
}
.mini_boxes{
        float: right;
}
.username{
  font-size: 0.825em;
}
#profile_image_{
        background: url(/icons_slov.png) no-repeat -9px -1542px;
            padding: 1px 0 1px 30px;
}
#loginPanel > p > a, #loginPanel > p > span > a{
    color: #5f5247;
}
.site-footer > .container {
    padding: 25px;
}

.inner{
width:100%;
font-weight:400;

}
.inner a:active {
color:#fff;
}
.inner a:hover {
color:#fff;
}
.inner a:focus {
color:#fff;
}

.footerLinksWrap {
    float: left;
    width: 50%;
    color: #ffffff;
    margin-bottom:20px;
}
.footerLinksWrap > ul {
    margin: 0;
    width:100%;
    list-style:outside none none;

}
.footerLinksWrap  ul li {
    float:left;
    width: 49%;
}
.footerLinksWrap > ul > li > a {
    background: rgba(0, 0, 0, 0) url("/arrows.png") no-repeat scroll 0 -187px;
        padding-left: 18px;
}        


.legalWrap {
    border-top: 1px solid #6a625d;
    float: left;
    padding-top: 20px;
    width: 100%;
    color:#b4b4b3;
}
.legalWrap > div{
    float: left;
    width: 50%;
    line-height: 1.714;
}
.legal{
text-align: right;
}
#helpNavigation {
    min-height: 40px;
    background-color: #453b34;
}

#helpNavigation ul {
    float: right;
    list-style: none;
    margin: 8px 0 0;
    padding: 0;
    font-size: 0.8125em;
    padding-top: 12px;
    padding-right: 56px;
}
#helpNavigation ul li.contrastVersion {
    border: none;
    padding-right: 20px;
}
#helpNavigation ul li.contrastVersion a {
    padding-left: 20px;
    background: url(/icons_slov.png) no-repeat -89px -140px;
}
#helpNavigation ul li {
    display: inline-block;
    margin-right: 9px;
    padding-right: 10px;
    border-right: 1px solid #6a625d;
    line-height: 14px;
    zoom: 1;
}
#helpNavigation ul li.lang {
    border: none;
    padding: 0;
}
#helpNavigation ul li.lang a.lang_en {
    padding-left: 24px;
    background: url(/icons_slov.png) no-repeat -89px -196px;
}
#helpNavigation ul li.lang a.lang_sk {
    padding-left: 24px;
    background: url(/icons_slov.png) no-repeat -349px -196px;
}
#content > div.row.row1 > div.wrapper > div > section > div.module-content > ul > li > div > h3 > a{ 
    color: #bd0a26;
    font-weight: 600;
}

.services_menu > a{
    color: #fff;
    background-position: 2px -183px;
    font-size:0.875em;   
}
.services_menu{
    background: url(/arrows.png) no-repeat 0 9px;
    background-position: 2px -183px;
    padding: 3px 0 3px 16px;
}

.services_menu{
        border-bottom: solid 1px #fff;
        padding-bottom: 5px;
        padding-top: 5px;
        list-style-type: none;
        margin-right: 21px;
}

#long_boxes > ul > li > ul > li:last-child{
    border-bottom: none;
    margin-bottom: 20px;
}
@media (max-width: 979px) and (min-width: 770px){
    #content2 > div > div.span3.col1.mini_boxes{
        width: 240px;
        float: right;
    }

    #header #helpNavigation .inner {
        height: 50px;
        background-image: url(/icons_slov.png);
        background-position: 10px -286px;
        background-repeat: no-repeat;
        -webkit-background-size: 200px auto;
        -moz-background-size: 200px auto;
        background-size: 200px auto;
    }
}
@media (max-width: 770px){
    #header #helpNavigation .inner {
        height: 50px;
        background-image: url(/icons_slov.png);
        background-position: 10px -286px;
        background-repeat: no-repeat;
        -webkit-background-size: 200px auto;
        -moz-background-size: 200px auto;
        background-size: 200px auto;
    }
   .mini_boxes{
        float: left;
    }
    #top_user_box{margin-top: 0em;}
}
#right_boxes > ul > li.menubox > a > img{
    display: block;
    width: auto;
    height: 40px;
    margin: 0 auto;
}

.module.module-narrow.module-shallow > p > a,
.module.module-narrow.module-shallow > div > ul > li > a{
    color: #fff;
}

#header_logo{
    margin-left: -39px;
    margin-top: -2px;
}

@media(max-width: 500px){
    #statistics {
        height: 670px;
    }

    .right-side{
        float: left;
    }
    #crumbs > div > div>a.purple {
        background: #5a438b;
    }
    #crumbs > div > div> a.red {
        background: #b81824;
    }
    #crumbs > div > div >a.green {
        background: #93bf20;
    }
    #crumbs > div > div> a.orange {
        background: #e84710;
    }
}
@media(max-width: 321px){
    .hero.search {
        height: 165px !important;
    }
}
@media(max-width: 655px){
    #crumbs > div > div > a{
        background-image: none !important;
    }
}
@media(max-width: 506px){
    #crumbs > div > div > a {
        text-align: right;
        padding: 25px 18px 25px 19px;
        padding-right: auto;
        position: relative;
        margin: 0px 0px 0px 0;
        font-size: 1.0em;
        line-height: 20px;
        text-decoration: none;
        color: #fff;
        -webkit-box-shadow: -10px 9px 20px 0px rgba(12,12,12,0.72);
        -moz-box-shadow: -10px 9px 20px 0px rgba(12,12,12,0.72);
        box-shadow: -10px 9px 20px 0px rgba(12,12,12,0.72);
    }
}
@media(max-width: 770px){
    #notices > div > img{ display: none; }
    #notices > div > ul{ width: 100%;}
    #notices { height: 480px; }
    #content > div.row.row1 > div.wrapper > div > article > div > h1, 
    #content > div.row.row1 > div.wrapper > div > article > div > form > h2{
        color: #fff;
    }
    #content > div.row.row1 > div.wrapper > div > article > div > h1{ color: #000;}
    .contact_us{ color:#fff !important;}
    #dataset-map{
        display: none;
    }
}
@media(max-width: 575px){
    .box2 {
        height: 220px;
    }
}
@media(max-width: 287px){
    .box2 {
        height: 460px;
    }
}
@media(max-width: 1200px){
    .row {
        margin-left: 0px !important;
    }
}

#home_menu {
height:52px;
}

#home_menu > li{
margin-right:2px;
}
#home_menu >li > a {
padding-top:12px;
padding-bottom:15px;
padding-left:20px;
padding-right:20px;
} 

#home_menu >li.active > a {
padding-top:12px;
padding-bottom:18px;
}

#home_menu > li > a {
    border-radius: 5px 5px 0 0;
    font-size: 1.125em;
    border:none;
    line-height:1.1714;
    text-align: center;
}

#home_menu > li.active > a {
    border-left: 2px solid #d4d4d4;
    border-radius: 5px 5px 0 0;
    border-right: 2px solid #d4d4d4;
    border-top: 2px solid #d4d4d4;
    font-size: 1.125em;
}
#home_menu > li.active > a:first-child {
    padding-left: 0;
    padding-right: 0;
    width: 135px;
}
#home_menu > li > a:last-child {
    padding-left: 0;
    padding-right: 0;
    width: 132px;
}


#content >div.row {
margin-top:30px;
}

#search_input_index {
    border: 1px solid #bd0a26;
    border-radius: 5px;
    box-shadow: none;
    color: #000;
    font-size: 1.125em;
    font-weight: 400;
    height: auto;
    line-height: 1.389;
    margin-bottom: 0;
    margin-right: 6px;
    padding: 11px 16px;
    transition: none 0s ease 0s ;
    vertical-align: inherit;
    width: 52.6%;
}

.hero.searchWraper {
   background-color: #f9f9f9;
   height: 115px;
}
#helpNavigation > .inner {
 max-width: 1150px;
 /*min-width: 770px;*/
 margin: 0 auto;
 height:auto;
 vertival-align: baseline;

}

#helpNavigation > .inner > ul{
padding: 0;
line-height:1.714;


}
#helpNavigation ul li.lang a.lang_en {
padding-left:23px
}
body > header.navbar.navbar-static-top.masthead > div.container > div {
top:0px;

}
.account_box li {
line-height:1.714;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
.account_box li span{
line-height:18px;
padding-top:3px;
padding-bottom:6px;
background: url(/icons_slov.png) no-repeat -89px -92px !important;
}
.account_box li#acc_info_not_logged {
line-height:27px;
padding-left:17px !important;
}

}
#content > div > div.wrapper {
border: 2px solid #d4d4d4;
box-shadow:none;
}
.dataset-item  div.dataset-content > div {
font-size:0.875em;
font-weight:400;
}
.dataset-item  div.dataset-content >.dataset-heading {
font-weight:400;

}
.dataset-item {border-bottom: 2px solid #d4d4d4;}

@media(max-width: 770px){
    .dataset-item{
        background-color: #fff !important;
        padding: 1em;
    }
    .organization_about > h1, .organization_about > p, .organization_about > h3, .apps_title{
        color: #fff !important;
    }
    #content > div.row.row1 > div.wrapper > div > article > div > ul{
        background-color: #fff;
        padding: 0.5em;
        border-radius: 5px;
        -moz-border-radius: 5px;
    }
}
.dataset-item { position: relative; } 

.dataset-item:hover{
border-bottom:2px solid #bd0a26;
}
.dataset-item:before, .dataset-item:after { 
    content: ""; 
    position: absolute; 
    bottom: -2px; 
    right: -2px;
} 

.dataset-item:before { 
top: -2px; 
width: 2px; 
background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#d4d4d4), to(transparent)); 
background-image: -webkit-linear-gradient(transparent, #d4d4d4); 
background-image: -moz-linear-gradient(transparent, #d4d4d4); background-image: -o-linear-gradient(transparent, #d4d4d4); 
} 

.dataset-item:after { 
right: -2px; 
height: 2px; 
}

.dataset-item:hover:before {
top: -2px;
width: 2px;
background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#bd0a26), to(transparent));
background-image: -webkit-linear-gradient(transparent, #bd0a26);
background-image: -moz-linear-gradient(transparent, #bd0a26); background-image: -o-linear-gradient(transparent, #d4d4d4);
}

.dataset-item:hover:after {
right: -2px;
height: 2px;
}

@media(min-width:1200){
.wrapper {
background: #f9f9f9 url("../../../base/images/nav.png") repeat-y scroll 0 0;
}
}
.search-form h2 {
color: #3e3e3e;
font-size: 1.125em;
}
.media-heading {
word-break: keep-all;
}
#statistics > div {
    min-width: 230px;
width:50%;
/*height:100%;*/
}
#statistics > div.left-side {
float:left;
}
#statistics > div.right-side {
float:right;
}
#statistics .left-side > ul {
    list-style: outside none none;
    margin: 0;
    width: 100%;
    height:250px;
}
.left-side h3 {
color: #bd0a26
}
.left-side li {
width: 48%;
float:left;
height: 48%;
position: relative;
margin:1%;
}

.left-side li > div{
text-align:center;
width: 100%;
bottom:0;
} 
.left-side li > div > a:last-child{
position:absolute;
bottom:0;
right:0;
left:0;
}

.left-side img {
/*vertical-align: middle;*/     
width: auto;
max-height:100px;
position:absolute;
margin:auto;
bottom:0;
right:0;
left:0;
top:0;
text-align:left;
}

.box > h1, .box > h2, .box > h3 {
color:#bd0a26;
} 

@media (max-width: 770px) {
#loginPanel, #top_user_box >div.span3 >div.account_box {
display:none;
}


#content3.container{
background:#b81821 none repeat scroll 0 0;
padding-left:10px;
}
#search_input_index{
padding: 5px 10px;
}
#search_button_index{
background-color: #453b34;
height:38px;
padding:0px;
}
#content3 div.tags > p > b{
color:#fff;
}
body > header.navbar.navbar-static-top.masthead{
margin-bottom:0px;
}
#home_menu > li {width:49%;
text-align:center;
}
}
@media(min-width: 770px){
    .container {
        width:95%;
    }

}
.rating-container{
max-width:200px !important;
font-size:0.875em !important;
}
@media(min-width: 770px){
    section.module.module-resource {
        float:left;
    }
}
.wrapper:before, .wrapper:after{
display:none;;
}
#content > div > div.wrapper {
border: none;
}
.dataset-heading a {
color:#bd0a26;
}
.context-info h1.heading {
word-break: keep-all;
}

.module.module-narrow.module-shallow {
    background-color: #5f5247;
    border-color: #5f5247;
    border-image: none;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}
.module-heading {
background-color: #5f5247;
color:#fff;
border-top: 0 none;
border-bottom: 0 none;

}
.nav-item > a, .nav-aside li a {
color:#fff;
}
.nav-item > a:hover, .nav-aside li a:hover {
color:#3e3e3e;
}

.module .read-more {
color:#fff;
}
.module-narrow #dataset-map-attribution {
color:#d2d2d2;
}
.module-narrow #dataset-map-attribution a {
color:#fff;
}
.page-heading > a.btn.btn-primary {
font-size: 0.415em;
}
.module.module-narrow.module-shallow > div.module-content > p {
    color: #fff;
}
aside .module-content {
color:#fff;
font-size:0.813em;
}
aside module.module-narrow.module-shallow .module-content h1, aside module.module-narrow.module-shallow .module-content .nums dl {
color:#fff;
}
.module.module-narrow.social a, .module.module-narrow.resources a {
    color: #3e3e3e !important;
}
.module.module-narrow.module-shallow.context-info > .module-content > p,.module.module-narrow.module-shallow.context-info > .module-content > h1.heading, .module.module-narrow.module-shallow.context-info > .module-content > .nums > dl {
color:#fff;
}

aside .module-content > p {
    font-size: 1em;
}
.toolbar .breadcrumb {
    font-size: 0.813em;
}
.toolbar .breadcrumb li::after {
    content: "";

}
.toolbar .breadcrumb li {
    background: rgba(0, 0, 0, 0) url("/arrows.png") no-repeat scroll right -385px;    
    display: inline-block;
    margin-left: 0;
    margin-right: 8px;
    padding-left: 0;
    padding-right: 18px;
}

.toolbar .breadcrumb a{
color:#bd0a26;
}
.toolbar .breadcrumb li.active {
background:none;
}

.breadcrumb > li.active > a {
color: #3e3e3e;
font-weight: normal;;
}

.form-actions {
border-top: 1px solid #5f5247;
}
.hero.search {
    background-color: #f9f9f9;
    height: 115px;
}
@media(max-width: 770px){
#content > div.row.row1 > div.wrapper > div > div.module-content > table, .table-bordere,
#content > div.row.row1 > div.wrapper > div > div.module-content > table > tbody > tr > td > a,
#content > div.row.row1 > div.wrapper > div > div.module-content > table > tbody > tr > td > small > a{
    color: #000 !important;
    background-color: #fff !important;
}
}
.image > a > img{
    background-color: #fff;

}
#content > div.row.row1{
    min-height: 1150px;
}