
div.primary.span9 > .span11 li {
color:#3e3e3e;
font-size:0.875em;
}
.primary.span9.no-right-menu {
float:left;
}
.row.row1.no-nav > .module > .module-content li {
font-size: 0.875em;
font-weight: 400;
}

.highlight {
    font-size: 20px;
    font-weight: 700;
    margin-left: 5%;
    margin-top: 40px;
}
.media-item img.media-image {
max-height:150px;
max-width:90%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: left;
    width: auto;
}
li.media-item.masonry-brick > h3.media-heading {

}
.media-item.masonry-brick > div {
    height: 50%;
}
