.account-masthead {
min-height: 30px;
color: #ffffff;
background: #237434 url("../../../base/images/bg.png");
}

.masthead {
min-height: 55px;
color: #ffffff;
background: #2f9b45url("../../../base/images/bg.png");
}

.site-footer {
min-height: 55px;
color: #ffffff;
background: #2f9b45url("../../../base/images/bg.png");
padding: 20px 0;
}
body {
background: #2f9b45url("../../../base/images/bg.png");
}

.homepage .module-search .module-content {
-webkit-border-radius: 3px 3px 0 0;
-moz-border-radius: 3px 3px 0 0;
border-radius: 3px 3px 0 0;
background-color: #e73892;
border-bottom: none;
}

.homepage .module-search .tags {
padding: 5px 10px 10px 10px;
background-color: #e73892;
-webkit-border-radius: 0 0 3px 3px;
-moz-border-radius: 0 0 3px 3px;
border-radius: 0 0 3px 3px;
}

a {
 color: #237434 ; 
 text-decoration: none; 
}

.btn-primary {
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #36b24f;
background-image: -moz-linear-gradient(top, #3bc256, #2f9b45);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3bc256), to(#2f9b45));
background-image: -webkit-linear-gradient(top, #3bc256, #2f9b45);
background-image: -o-linear-gradient(top, #3bc256, #2f9b45);
background-image: linear-gradient(to bottom, #3bc256, #2f9b45);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3bc256', endColorstr='#ff2f9b45', GradientType=0);
border-color: #2f9b45 #2f9b45 #1d602b;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-primary:hover,
.btn-primary:focus {
 color: #333333;
  background-color: #eaeaea;
  *background-color: #dddddd;
}