<p> 
Národná agentúra pre sieťové a elektronické služby (NASES) spustila novú, vylepšenú verziu portálu pre otvorené dáta, data.gov.sk, ktorá bola vybudovaná v rámci projektu  s názvom “Elektronické služby Úradu vlády Slovenskej republiky – eDemokracia a otvorená vláda” financovaného z prostriedkov EÚ.
 </p>

 <p>
Novinky sa týkajú ako softvérovej časti riešenia, tak aj technologického zabezpečenia jeho prevádzky. Vďaka tomu táto aktualizácia prináša viacero vylepšení, vrátane:</p>
 <ul>
<li>viac možností kategorizácie údajov a ich vyhľadávania</li>
<li>viac typov náhľadov dát, vylepšený vzhľad a ovládanie</li>
<li>doplnenie nástrojov pre transformáciu dát (pre povinné osoby)</li>
</ul>
<p>
Ak ste používali staršiu verziu systému, venujte prosím pozornosť týmto dôležitým informáciám:
 </p>
 <h3>
Používateľské účty</h3><p>
Na prihlásenie povinnej osoby na portál otvorených dát je potrebné, aby povinná osoba:</p>
<ul> 
<li>mala zriadenú elektronickú schránku na ústrednom portáli www.slovensko.sk</li>
<li>udelila zastupovanie osobe oprávnenej zastupovať povinnú osobu.</li>

</ul>
<p>Pre viac informácií kontaktujte operátorov Ústredného kontaktného centra prostredníctvom kontaktného formulára alebo na telefónnom čísle +421 2 35 803 083 v pracovných dňoch, pondelok až piatok, od 8.00 do 18.00 h.</p>
<h3>O projekte data.gov.sk</h3>
<p>Portál otvorených dát vznikol v rámci Iniciatívy pre otvorené vládnutie, ktorej zámerom je zlepšovanie vládnutia a spravovania vecí verejných cez zvyšovanie transparentnosti, efektivity a zodpovednosti. data.gov.sk je katalóg obsahujúci rôzne datasety od povinných osôb v SR. Je na ňom možné zbierať odkazy na dáta z webu pre seba a ostatných, alebo vyhľadávať vo zverejnených dátach. Portál otvorených dát je schopný ukladať kópiu dát alebo im poskytnúť priestor v databáze spolu so základnými vizualizačnými nástrojmi podľa typu dát (a formy použitia)</p>
<h3> 
Ciele, ktoré má naplniť portál otvorených dát - data.gov.sk:
</h3> <ul> 
<li>Zverejňovať diaľkovo prístupné dáta v strojovo spracovateľnej forme s použitím otvorených štandardov a verejných licencií.</li>
<li>Zverejňovať metadáta (t.j. popis dát, význam jednotlivých "stĺpcov v tabuľke" či okienok vo formulári), diaľkovo prístupné, v strojovo spracovateľnej forme s použitím otvorených štandardov a verejných licencií.</li>
</ul>
<h3>Medzi základné charakteristiky portálu patria:</h3>
<ul>
	<li>Poskytuje samotné dáta, ako aj prístup k dátam vo forme spĺňajúcej otvorené a technologicky neutrálne štandardy, s použitím verejných licencií, ktoré umožnia ďalšie využívanie dát.</li>
<li>Umožňuje vyhľadávanie dokumentov - browsovaním, fulltextom, filtrovaním, vyhľadávaním podľa metadát. </li>
<li>Uvedené dáta a databázy, sprístupnené verejnosti, budú použiteľné na informatívne a analytické účely, nie na právne úkony.</li>
</ul>

