<p> 
Národná agentúra pre sieťové a elektronické služby (NASES) has started a new, improved version of the open data portal, data.gov.sk. The portal was created within the project: “Electronic Services of Government Office of the Slovak Government - eDemocracy and open government”, financed from the resources of the European Union.
 </p>

 <p>
Improvements include not only the software solution, but also the technological security of its' operation. Thanks to this, this actualization offers several features, such as:</p>
 <ul>
<li>more data categorization and its' searching</li>
<li>more types of data preview, improved design and navigation</li>
<li>additional tools for data transformation (for obliged entities)</li>
</ul>
<p>
If you were using the previous version of the portal, please pay attention to these important facts:
 </p>
 <h3>
Users Accounts</h3><p>
To register an obliged entity  to the portal, it's necessary that the entity has: </p>
<ul> 
<li>established a data mailbox on the Central Government portal www.slovensko.sk,</li>
<li>granted an authorized person to act on behalf of the entity.</li>
</ul>
<p>For more information, contact the operators of the Central customer service through the contact formula or by telephone at +421 2 35 803 083, during working days Monday to Friday, from 8.00 a.m. to 6.00 p.m.
</p>
<h3>About data.gov.sk</h3>
<p>Open data portal was created as a part of the Initiative for Open Governance, which intention is to improve governance and public matters, through increasing transparency, effectivity and responsibility. The portal is a catalog containing various datasets published by obliged entities in the Slovak republic. Data can be collected from the web directly from the published links or by searching. Open data portal is capable to store a copy of data or accommodate them space in database, along with standard visualization tools, according to the type of data (and the forms of use).</p>
<h3> 
Goals, which the open data portal, intends to reach:
</h3> <ul> 
<li>Publish remote accessible data in a machine-readable form, using open standards and public licenses.</li>
<li>Publish metadata (i.e. the data description, the meaning of individual columns in a table or windows in a formula) remote access in machine-readable form, using open standards and public licenses.</li>
</ul>
<h3>The basic characteristics of the portal: </h3>
<ul>
	<li>Provides independent data, along with access to data in the form of satisfying open and technology-neutral standards with public licenses that allow further use of the data.</li>
<li>Enables document search - full text, filtering, and search by metadata.</li>
<li>The data and databases available to the public are informative and can use for analytical purposes, not for legal actions.</li>
</ul>

