<h3>{{_('Most active organizations')}}</h3>
{% set data = h.biggest_orgs()%}	
<ul>	
{%for dt in data %}
<li>
<div>
	{%if dt['image_url'] == ""  %}
        <a href="/organization/{{dt['id']}}" title="{{dt['title']}}">{{h.truncate(dt['title'], 40)}}</a>
        {% endif %}
         {%if dt['image_url'] != ""  %}
        <a href="/organization/{{dt['id']}}" title="{{dt['title']}}"> <img src="{{dt['image_url']}}" alt="{{dt['title']}} logo" /></a> 
        {% endif %}
	<!--a href="/organization/{{dt['id']}}"> {{dt['title']}}</a><br /!-->
	<a href="/organization/{{dt['id']}}" title="{{dt['title']}}"> {% set orgs = ungettext(' Dataset', ' Datasets', dt['package_count']).format(num=dt['package_count']) %}{{dt['package_count']}} {{orgs}}</a>
</div>
</li>
{%endfor%}
</ul>
