<div id="right_boxes" class="box2" style="margin-bottom: 2em;">
              <ul>
                  <li class="menubox green_menubox" >
                      <a href="{{h.url_for('datasets')}}" title="{{_('Datasets')}}" ><img src="https://www.slovensko.sk/_img/CMS4/ziarovka_mala.png" alt="{{_('Datasets')}}" \>{{_('Datasets')}} </a>
                  </li>
                  <li class="menubox purple_menubox"> 
                    <a  href="{{h.url_for('organizations')}}" title="{{_('Organizations')}}"><img src="https://www.slovensko.sk/_img/CMS4/ziarovka_mala.png" alt="{{_('Organizations')}}" \>{{_('Organizations')}} </a>
                  </li>
                  <li class="menubox red_menubox">
                    <a  href="{{h.url_for('apps')}}" title="{{_('Applications')}}"><img src="https://www.slovensko.sk/_img/CMS4/ziarovka_mala.png" alt="{{_('Applications')}}" \>{{_('Applications')}} </a>
                  </li>
                    <li class="menubox blue_menubox" title="{{_('Instruments')}} ">
                      <a  href="#"><img src="https://www.slovensko.sk/_img/CMS4/ziarovka_mala.png" alt="{{_('Instruments')}} " \>{{_('Instruments')}} </a>
                  </li>
              </ul>
        </div>
        <div id="long_boxes" class="box3" style="margin-bottom: 1em;">
              <ul>
                  <li class="brown_menubox" >
                      <a href="" title="{{_('Services')}}" ><span></span>{{_('Services')}} </a>
                  </li>
                  <li class="brown_menubox"> 
                    <a  href="" title="{{_('Requests')}}"><span></span>{{_('Requests')}} </a>
                  </li>
              </ul>
        </div>
        <div id="big_box" class="box4" style="margin-bottom: 1em;">
            <h3> {{_('Useful links')}}</h3>
              <ul>
                  <li class="" >
                      <a href="" title="NASES" ><img src="/logo/nases.png" alt="Nases logo" \>NASES </a>
                  </li>
                  <li class=""> 
                    <a  href="" title="open data"><img src="/logo/od.png" alt="open data icon" \></a>
                  </li>
                  <li class=""> 
                    <a  href="https://www.facebook.com/slovensko.sk/" title="facebook slovensko.sk"><img src="/logo/fb.png" alt="facebook slovensko.sk" \>Facebook slovensko.sk</a>
                  </li>
                  <li class=""> 
                    <a  href="https://www.facebook.com/nasessk/" title="facebook nases.sk"><img src="/logo/fb.png" alt="facebook nases.sk" \>Facebook nases.sk</a>
                  </li>
                  <li class=""> 
                    <a  href="http://europa.eu/youreurope/citizens/index_sk.htm" title="{{_('Portal Your Europe')}}"><img src="/logo/eu.gif" alt="{{_('Portal Your Europe')}}" \>{{_('Portal Your Europe')}} </a>
                  </li>
              </ul>
        </div>