        <div id="right_boxes" class="box2 box_padding" style="">
              <ul>
                  <li class="menubox green_menubox" >
                      <a href="{{h.url_for('/dataset')}}" title="{{_('Datasets')}}" ><img src="/datasety.png" alt="{{_('Datasets')}}" />{{_('Datasets')}}</a>
                  </li>
                  <li class="menubox purple_menubox"> 
                    <a  href="{{h.url_for(controller='organization', action='index')}}" title="{{_('Organizations')}}"><img src="/org.png" alt="{{_('Organizations')}}" />{{_('Organizations')}}</a>
                  </li>
                  <li class="menubox red_menubox">
                    <a  href="{{h.url_for(controller='ckanext.applications.apps:AppsController', action='dashboard')}}" title="{{_('Applications')}}"><img src="/app.png" alt="{{_('Applications')}}" />{{_('Applications')}}</a>
                  </li>
                    <li class="menubox blue_menubox" title="{{_('Tools')}} ">
                      <a  href="{{h.url_for(controller='ckanext.responsive_design.responsive_design:ResponsiveDesign', action='tools')}}"><img src="/nastr.png" alt="{{_('Tools')}} " />{{_('Tools')}}</a>
                  </li>
              </ul>
        </div>
        <div id="long_boxes" class="box3" style="margin-bottom: 1em;">
              <ul>
                  <li class="brown_menubox" >
                      <a href="https://www.slovensko.sk/sk/najst-sluzbu" title="{{_('Services')}}" ><span></span>{{_('Services')}} </a>
                      <ul>
                          {%set urls = h.get_urls('ckan.user_req.') %}
                          {%for i in urls%}
                              <li class="services_menu">
                                <a href="{{i['url']}}" title="{{i['popis']}}" class="menuitem_services">
                                 {{i['name']}}
                                </a>
                              </li>
                          {%endfor%}
                      </ul>
                  </li>
              </ul>
        </div>
        <div id="big_box" class="box4" style="margin-bottom: 1em; margin-left: 10px; margin-right: 10px;">
            <h2> {{_('Useful links')}}</h2>
              <ul>
                  <li>
                      <a href="http://www.nases.gov.sk/" title="NASES {{_('-in new window')}}"  target="_blank"><img src="/logo/nases.png" alt="Nases logo" />NASES </a>
                  </li>
                  <li> 
                    <a  href="http://www.opendefinition.org/okd/" title="open data {{_('-in new window')}}" target="_blank"><img src="/logo/od.png" alt="open data icon" /></a>
                  </li>
                  <li> 
                    <a  href="https://www.facebook.com/slovensko.sk/" title="facebook slovensko.sk {{_('-in new window')}}" target="_blank"><img src="/logo/fb.png" alt="facebook slovensko.sk" />Facebook slovensko.sk</a>
                  </li>
                  <li> 
                    <a  href="https://www.facebook.com/nasessk/" title="facebook nases.sk"><img src="/logo/fb.png" alt="facebook nases.sk" />Facebook nases.sk</a>
                  </li>
                  <li> 
                    <a  href="http://europa.eu/youreurope/citizens/index_sk.htm" title="{{_('Portal Your Europe')}} {{_('-in new window')}}" target="_blank"><img src="/logo/eu.gif" alt="{{_('Portal Your Europe')}}" />{{_('Portal Your Europe')}} </a>
                  </li>
                   <li> 
                    <a  href="https://open.slovensko.sk/" title="open.slovensko.sk {{_('-in new window')}}" target="_blank"><img src="/logo/eu.gif" alt="open.slovensko.sk" />open.slovensko.sk</a>
                  </li>
                   <li> 
                    <a  href="https://www.slovensko.sk/" title="www.slovensko.sk {{_('-in new window')}}" target="_blank"><img src="/logo/eu.gif" alt="www.slovensko.sk" />www.slovensko.sk</a>
                  </li>
              </ul>
        </div>
