
{#% set stats = h.get_site_statistics() %#}

<div id="crumbs" >
  <div>   
     <div> <a class="purple " href="{{ h.url_for(controller='organization', action='index') }}" title="{{_('Organizations')}}">
         {%set organizations =  h.sum_org() %}
          {% set orgs = ungettext(' Organization', ' Organizations', organizations).format(num=organizations) %}
          <strong>{{ organizations }}</strong><span>  {{ orgs }} </span>
          <div class="statistics_icons_org"> </div>
        </a>
     </div>
     <div>   <a class="red" href="{{ h.url_for(controller='related', action='dashboard') }}" title="{{_('Applications')}}">
          {% set apps = ungettext(' Application', ' Applications', h.public_apps()).format(num=h.public_apps()) %}
          <strong>{{ h.SI_number_span(h.public_apps()) }}</strong><span>  {{ apps }} </span> 
          <div class="statistics_icons_apps"> </div>
        </a>
    </div>
     <div> <a class="green" href="{{ h.url_for(controller='package', action='search') }}" title="{{_('Datasets')}}">
          {%set dataset_c = h.sum_dts() %}
           {% set dts = ungettext(' Dataset', ' Datasets', dataset_c).format(num=dataset_c) %}
          <strong>{{ dataset_c }}</strong><span>  {{ dts }} </span>
          <div class="statistics_icons_dts"> </div>
        </a>
    </div>        
     <div>
      {%set usr_c = h.sum_usr() %}
        <a class="orange" href="{{ h.url_for(controller='user', action='index') }}" title="{{_('Users')}}">
          {% set usr = ungettext(' User', ' Users', usr_c).format(num=usr_c) %}
          <strong>{{ usr_c }}</strong><span>  {{ usr }} </span>
          <div class="statistics_icons_usr"> </div>
        </a>
     </div>
</div>

</div>
