.account-masthead {
min-height: 30px;
color: #ffffff;
background: #d31979 url("../../../base/images/bg.png");
}

.masthead {
min-height: 55px;
color: #ffffff;
background: #e73892 url("../../../base/images/bg.png");
}

.site-footer {
min-height: 55px;
color: #ffffff;
background: #e73892 url("../../../base/images/bg.png");
padding: 20px 0;
}
body {
background: #e73892 url("../../../base/images/bg.png");
}

.homepage .module-search .module-content {
-webkit-border-radius: 3px 3px 0 0;
-moz-border-radius: 3px 3px 0 0;
border-radius: 3px 3px 0 0;
background-color: #e73892;
border-bottom: none;
}

.homepage .module-search .tags {
padding: 5px 10px 10px 10px;
background-color: #e73892;
-webkit-border-radius: 0 0 3px 3px;
-moz-border-radius: 0 0 3px 3px;
border-radius: 0 0 3px 3px;
}

a {
 color: #e73892; 
 text-decoration: none; 
}

.btn-primary {
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #ea53a1;
background-image: -moz-linear-gradient(top, #ec66ab, #e73892);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ec66ab), to(#e73892));
background-image: -webkit-linear-gradient(top, #ec66ab, #e73892);
background-image: -o-linear-gradient(top, #ec66ab, #e73892);
background-image: linear-gradient(to bottom, #ec66ab, #e73892);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec66ab', endColorstr='#ffe73892', GradientType=0);
border-color: #e73892 #e73892 #bc176c;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-primary:hover,
.btn-primary:focus {
  color: #333333;
  background-color: #e83993;
  *background-color: #dddddd;
}