
#content > div.row.wrapper > div > article > div.module-content > ul > li, #content > div.row.wrapper.no-nav > article > div > div.wide > ul > li,
#content > div.row.wrapper > div > article > div > ul > li {
	height: 280px;
	background-color:  #f7f7f7;
	border: 2px solid #d4d4d4;
}
/*
#content > div.row.wrapper > div > article > div.module-content > ul > li > p{

	background-color:  #f7f7f7;
	border: 2px solid #d4d4d4;
}*/
#content > div.row.wrapper > div > article > div.module-content > ul > li >a:hover{
	border: 2px solid #f6f6f6;
	border-radius: none;
}
#content > div.row.wrapper > div > article > div.module-content > ul > li >a{

	border-radius: none;
}
#content > div.row.wrapper > div > article > div.module-content > ul > li> h3.media-heading{
	font-size: 13px;
	color: #bd0a26;
}
