@media (min-width: 768px) {
	body > header.navbar.navbar-static-top.masthead{
		height: 285px;
		background-color: #5d2725;
		/*background-image: url('/logo.png');*/
		background-image: url('/top_banner.jpg');
		background-repeat: no-repeat;
		background-position: 10% 50%;
		width: inherit;
		background-size: 1260px 285px;
		
	}
	.full_size{
		padding-bottom: 0;
		margin: 0;
		position: absolute;
		z-index: 999;
		top: 100px;
		left: 10%;
	}
	.small{
		display: none;
	}
	body > div.homepage.layout-1 > div.hero > div > div.module.module-search.module-narrow.module-shallow.box > form{
		width: 456px;
		height: 50px;
		padding-left: 6em;
		padding-top: 2ex;
		padding-bottom: 3em;

	}

}
@media (max-width: 767px) {
	body > header.navbar.navbar-static-top.masthead{
		height: 230px;
		background-color: #5d2725;
		background-image: url('/top_banner.jpg');
		
		background-repeat: no-repeat;
		background-position: 10% 50%;
		width: inherit;
		background-size: 807px 230px;
		margin-bottom: 2em;

	}
	.full_size{
		display: none;
	}
	.small{
		
		padding-bottom: 0;
		margin: 0;

		position: absolute;
		z-index: 29;
		top: 80px;
		left: 15%;
	}
	body > header.navbar.navbar-static-top.masthead > div.container > div > nav{
		margin-top: -0.9em;
	}
		body > div.homepage.layout-1 > div.hero > div > div.module.module-search.module-narrow.module-shallow.box > form{
		width: 306px;
		height: 50px;
		padding-left: 6em;
		padding-top: 2ex;
		padding-bottom: 3em;

	}
	
}
.debug{
	z-index: 100000;
}
body > header.navbar.navbar-static-top.masthead > div.container > button{
		position: relative;
		right: 3em;
		top: -10px;
	}

body > header.navbar.navbar-static-top.masthead > div.container > div > form{
	display: none;
}

body > header.navbar.navbar-static-top.masthead > div.container > hgroup > a > img{
display: none;
}
body > header.navbar.navbar-static-top.masthead > div.container{
	background-color: #453b34;
	color: white;
	width: 100%;
	height: 40px;
}
body > header.navbar.navbar-static-top.masthead > div.container > div{
	position: relative;
	top: -10px;
}

.hero{
	background-image: none;
}
body > div.homepage.layout-1 > div.hero > div > div.row.row1 > div.span6.col1{
	width: 75%;
}
body > div.homepage.layout-1 > div.hero > div > div.row.row2 > div.span6.col1{
	width: 100%;
}
body > div.homepage.layout-1 > div.hero > div > div.module.module-search.module-narrow.module-shallow.box > form > h3{
	display: none;
}
body > div.homepage.layout-1 > div.hero > div > div.module.module-search.module-narrow.module-shallow.box > div{
	display: none;
}
.homepage .module-search {
	padding: 0px;
	border: none;
	box-shadow: none;
	width: 75%;
	padding: 0px;
	position: absolute;
	top: -20px
;	background-color: transparent;
	border-radius: none;
	border: none;
}
.homepage .module-search .module-content{
	margin: 0px;
	
	background-color: #f9f9f9;
	width: 100%;
}
body > div.homepage.layout-1 > div.hero > div > div.row.row2{
	margin-top: 4em;
	
}
body > div.homepage.layout-1 > div.hero > div > div.row.row2 > div.span6.col1 > div{
	padding-left: 5em;
}
body > div.homepage.layout-1 > div.hero > div > div.module.module-search.module-narrow.module-shallow.box{
	width: 100%;
	position: absolute;
	left: 0px;
	background-color: #f9f9f9;
	border-radius: none;
	border: none;

}


body > div.homepage.layout-1 > div.hero > div > div.module.module-search.module-narrow.module-shallow.box > form > div > input{
	border: 1px solid #b81821;
}
body > div.homepage.layout-1 > div.hero > div > div.row.row2{
	width: 100%;

}
body > div.homepage.layout-1 > div.hero > div > div.module.module-search.module-narrow.module-shallow.box > form > div > button > i{
	color: #b81821;
}
body > div.homepage.layout-1 > div.hero > div > div.module.module-search.module-narrow.module-shallow.box > form > div > button > i:hover{
	color: #d82831;
}
body > div.homepage.layout-1 > div.hero > div > div.row.row2{
	position: absolute;
	top: 2em;
	left: 0px;


}
body > div.homepage.layout-1 > div.hero{
	
	margin-bottom: 5em;
}
