
<script type="text/javascript">
var appended = false, bookmark = document.createElement("div");
bookmark.id = "arrowUp";
bookmark.innerHTML = "<a href=\"#\" title=\"Top of the page.\" class='back-to-top' data-scroll data-options=\"{ &quot;easing&quot;: &quot;easeOutCubic&quot; }\"><img src='/backtotop.png' alt='back to top' width='50' heigth='50' onmouseover=\"this.src='/up_hover.png'\" onmouseout=\"this.src='/backtotop.png'\" /><\/a>";


onscroll = function() {
  var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
  if (scrollTop > 300) {
    if (!appended) {
      document.body.appendChild(bookmark);
      appended = true;
    }
  } else {
    if (appended) {
      document.body.removeChild(bookmark);
      appended = false;
    }
  }
};
</script>


<script>
      smoothScroll.init({
        speed: 1000,
        easing: 'easeInOutCubic',
        offset: 0,
        updateURL: true,
        callbackBefore: function ( toggle, anchor ) {},
        callbackAfter: function ( toggle, anchor ) {}
      });
</script>
