{%ckan_extends%}
{% block footer_content %}
<div class="inner clr">
                    <div class="footerLinksWrap">
                    <ul>
                        <li><a href="{{ h.url_for(controller='home', action='about') }}">{{_('About this site')}}</a></li>
                        <li><a href="https://www.slovensko.sk/sk/navody">{{_('Walkthroughs')}}</a></li>
                        <li><a href="https://www.slovensko.sk/sk/institucie">{{_('Institutions')}}</a></li>
                        <li><a href="https://www.slovensko.sk/sk/slovnik">{{_('Dictionary')}}</a></li>
                    </ul>
                    </div>
                    <div class="footerLinksWrap">  
                    <ul>
                        <li><a href="https://www.slovensko.sk/sk/mapa-stranok">{{_('Site map')}}</a></li>
                        <li><a href="https://www.slovensko.sk/sk/zoznam-zverejnenych-sluzieb">{{_('List of published services')}}</a></li>
                        <li><a href="{{ h.url('home') }}feeds/dataset.atom">RSS</a></li>
                        <li><a href="https://www.slovensko.sk/sk/vyhlasenie-o-pristupnosti">{{_('Accessibility statement')}}</a></li>
                    </ul>
                    </div>
                    <div class="legalWrap">
                    <div class="copyright">&copy; 2015, <a href="https://data.gov.sk" title="Portál otvorených dát">Data.gov.sk</a> <br>{{ _('Information published at www.slovensko.sk are not legally binding.') }}</div>
                    <div class="legal">{{_('Provider and webmaster of the portal is')}}<br> <a href="http://nases.gov.sk/13605/kontakt.php">Národná agentúra pre sieťové a elektronické služby</a>.</div>
                    </div>
                    </div>   
{% endblock %}
{% block footer_debug %}
    {% if g.debug %}
        {% include 'snippets/debug.html' %}
    {% endif %}
{% endblock %}
