{% ckan_extends%}
{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}

{% block content %}
<div role="main" class="hero" style="background-color: #f9f9f9;">
  <div id="content3" class="container">
    <div class="row row2" style="margin-top: 5px;">
      <div class="span11 col1">
{% block home_secondary_content %}
            {% block home_search %}
              <form class="dataset-search module-content clearfix" method="get" action="{% url_for controller='package', action='search' %}" id="search_form_index">
                <label for="search_input_index" style="display: none;">{{_('Search')}}</label>
                  <input type="text" class="search" name="q" value="{{ c.q }}" autocomplete="off" placeholder="{{_('Search')}}..." id="search_input_index"/>
                  <button class="mybutton" type="submit" value="{{ _('Search') }}" id="search_button_index" >{{_('Search')}}</button>
        
              </form>
            {% endblock %}
            {% block home_tags %}
              <div class="tags">
                <p><b >{{ _('Popular tags') }}:</b>
                {% set tags = h.get_facet_items_dict('tags', limit=3) %}
                {% for tag in tags %}
                  <a class="tag" href="{% url_for controller='package', action='search', tags=tag.name %}">{{ h.truncate(tag.display_name, 22) }}</a>
                {% endfor %}
              </p>
              </div>
            {% endblock %}

      {% endblock %}
      </div>
</div>
      </div>
</div>
  <div role="main" class="hero">
    <div id="content" class="container">
      {{ self.flash() }}
      {{ self.primary_content() }}
    </div>

  <div class="main homepage">
    <div class="container">
      {{ self.secondary_content() }}
    </div>
  </div>
{% endblock %}

{% block primary_content %}


<div class="row row2">

  <div class="span11 col1">

    

<script type="text/javascript">
$('#home_menu a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>


  <!-- Nav tabs -->
  <div id="home_tabs_formatter">
  <ul id="home_menu" class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#notices" aria-controls="notices" role="tab" data-toggle="tab">{{_('News')}}</a></li>
    <li role="presentation"><a href="#statistics" aria-controls="statistics" role="tab" data-toggle="tab">{{_('Statistics')}}</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" id="home_tabs_content">
    <div role="tabpanel" class="tab-pane active" id="notices">
          <div class="tab_inner" style="display: block; ">
              <img src="/images/img.png" alt="{{_('News')}}" style="max-width: 45%;"/>
              
                <ul  >
                  {% set datasets = h.recent_datasets(6)%}
                  {% for i in datasets %} 
                      <li> <a href="{{h.url_for(controller='package', action='read', id=i['url'] )}}" title='{{i["title"]}}'>{{i["title"]}}</a></li>
                  {%endfor%}
                </ul>
              
          </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="statistics">
<div class="left-side">
{% snippet 'home/snippets/orgs_snippet.html' %}
</div>
<div class="right-side">
{% snippet 'home/snippets/stats.html' %}
</div>
    </div>
  </div>

</div>
<div class="box">
{% snippet 'home/snippets/uvod_snippet.html', intro=g.site_intro_text %}
</div>
  </div>
  <div class="span3 col2" id="left_box_padder">
    
<!-- Snippet 'home/snippets/right_menu.html' start -->
      {% snippet 'home/snippets/right_menu.html' %}
  </div>

   
  </div>

</div>

{% endblock %}

{% block secondary_content %}
{% endblock %}

{# Remove the toolbar. #}
{% block toolbar %}{% endblock %}
{% block scripts %}
  {{ super() }}
{% resource "vendor/block_html5_shim" %}
{% resource "ckanext_stats/stats" %}
{% endblock %}
