
<div role="main" class="hero">
  <div class="container">
    <div class="row row1">
      <div class="span6 col1">
        {% block promoted %}
        {% endblock %}
      </div>
      <div class="span6 col2">
        {% block search %}
          </div></div>
          

          {% set tags = h.get_facet_items_dict('tags', limit=3) %}
{% set placeholder = _('E.g. environment') %}

<div class="module module-search module-narrow module-shallow box">
  <form class="module-content search-form" method="get" action="{% url_for controller='package', action='search' %}" >
    <h3 class="heading">{{ _("Search data") }}</h3>

    
    <!--div class="search-input control-group search-giant" style="display: inline;"!-->
      <input type="text" class="search" name="q" autocomplete="off"  style="display: inline;color:black;"/>
      
    <!--/div!-->

    <button type="submit" class='search button' style="display: inline;">
        {{ _('Search') }}
      </button>
  </form>
  <div class="tags">
    <h3>{{ _('Popular tags') }}</h3>
    {% for tag in tags %}
      <a class="tag" href="{% url_for controller='package', action='search', tags=tag.name %}">{{ h.truncate(tag.display_name, 22) }}</a>
    {% endfor %}


        {% endblock %}
      </div>
    </div>
  </div>
</div>
<div role="main">
  <div class="container">
    <div class="row row2">
      <div class="span6 col1">
        
        {% block featured_group %}
         
        {% endblock %}

      </div>
      <div class="span6 col2">
        {% block featured_organization %}

        {% endblock %}
      </div>
    </div>
  </div>
</div>
